<% if session[:id] %>
  <h1>Comments#Edit</h1>
  <p><%= link_to("一覧へ(index)", "/comments/index") %></p>
  <p><%= link_to("戻る(show)", "/comments/#{@comment.random_url}") %></p>
<% else %>
<% end %>


<% content_for :title do %>申込店舗情報_作成<% end %>

<%= form_with model: @comment, local: true  do |form| %>
<table class="comment_table">
  <tr><th class="width40">項目</th><th class="width60">会員情報(非公開)</th></tr>

  <tr><td class="comment_show_item">担当者名</td><td><%= @comment.name %></td></tr>
  <tr><td class="comment_show_item">担当者メールアドレス</td><td><%= @comment.mail %></td></tr>
  <tr><td class="comment_show_item">担当者電話番号</td><td><%= form.text_field :tel, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">ログイン用パスワード</td><td><%= form.text_field :pass %></td></tr>
  
  <tr><th class="width40">項目</th><th class="width60">店舗情報(公開)</th></tr>

  <tr><td class="comment_show_item">店舗名</td><td><%= form.text_field :shopname, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">よみがな</td><td><%= form.text_field :yomi, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">店舗電話番号</td><td><%= form.text_field :shoptel, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">住所</td><td><%= form.text_area :addres, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">営業日(オンレート以外)</td><td><%= form.text_area :businessday, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">営業時間(オンレート以外)</td><td><%= form.text_area :businesstime1, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">料金</td><td><%= form.text_area :pricelist, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">年齢層</td><td><%= form.text_area :agegroup, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">事前予約(要・不要)</td><td><%= form.text_area :reservation, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">登録済みのトップ画像</td><td><% if @comment.image.attached? %><%= image_tag @comment.image, class:'comment_image' %><% end %></td></tr>
  <tr><td class="comment_show_item">トップ画像変更</td><td><%= form.file_field :image %></td></tr>
  <tr><td class="comment_show_item">トップ用コメント</td><td><%= form.text_area :topcomment, class: "comment_text_area", :size=>"60x6" %></td></tr>
  <tr><td class="comment_show_item">説明コメント</td><td><%= form.text_area :comment, class: "comment_text_area", :size=>"60x10" %></td></tr>
  <tr><td class="comment_show_item">卓数</td><td><%= form.text_area :tablenum, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">卓種</td><td><%= form.text_area :tabletype, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">サービス</td><td><%= form.text_area :service, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">システム・設備</td><td><%= form.text_area :system, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">男女比率</td><td><%= form.text_area :ratio, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">ルール</td><td><%= form.text_area :rule, class: "comment_text_area", :size=>"60x10" %></td></tr>
  <tr><td class="comment_show_item">時間打切り</td><td><%= form.text_area :timeup, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">HP1(公式)</td><td><%= form.text_field :homepage1, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">HP2(雀サクッ)</td><td><%= form.text_field :homepage2, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">HP3(麻雀王国)</td><td><%= form.text_field :homepage3, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">HP4(SNS)</td><td><%= form.text_field :homepage4, class: "comment_text_area" %></td></tr>
  <tr><td class="comment_show_item">オープン日</td><td><%= form.text_field :opening, class: "comment_text_area" %></td></tr>
  
</table>
<p style="text-align: center; color: red; padding-bottom: 10px;">送信ボタンを押すと、再度編集できません。ご注意ください</p>
<div class="comment_submit"><%= form.submit '送信する', class: "comment_btn" %></div>


<% end %>