<h1>Comments#Index</h1>
  <p><%= link_to("新規作成(new)", "/comments/new") %></p>
  <p><%= link_to("owner/index", "/owner/index") %></p>

  <div class="owner_table_content">	
	<table>
	  <tr class="owner_table_top">
		  <th>日時(クリックで表示(show))</th>
		  <th>店舗名</th>
		  <th>登録画像</th>
      <th>編集</th>
		  <th>削除</th>
  <% @comment.each do |comment| %>
    <tr>
  	  <td class="owner_table_th">
  	  	<%= link_to(comment.created_at.strftime('%Y/%m/%d %H:%M'), "/comments/#{comment.random_url}") %>
  	  </td>
      <td><%= comment.shopname %></td>
      <td>
      	<%= comment.random_url %>
      </td>
      <td><%= link_to("編集", "/comments/#{comment.random_url}/edit") %></td>
      <td><%= link_to("削除", "/comments/#{comment.random_url}/destroy", {method:"detele", data: {confirm: "削除しますか？"}}) %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="paginate"><%= paginate @comment %></div>