<% if session[:user_id] %><li>ログイン中</li><li>会員ページ編集画面</li><% else %><% end %>
<body class="top">
  <div class="contentsLayout--shop">
    <div class="contentsMain">
      <div class="contentsBreadcrumb"><a href="/">TOP</a><span>&gt;</span><a>店舗ログイン</a><span>&gt;</span><a><%= @shop.shopname %></a></div>
      <div class="contentsDetails">
        <div class="contentsDetails__flex" style="display:block;"><%= render 'shared/contents_details_tag' %><h1 class="contentsDetails__title"><%= @shop.shopname %></h1>
        </div>


<%= form_with(model: @shop, local: true) do |form| %>

        
        <h2 class="contentsDetails__head" style="background-color:#FFFF99;">会員情報(非公開情報)</h2>
        
      </div>

        <h2 class="contentsDetails__head">基本情報</h2>
        

        <h2 class="contentsDetails__head">詳細情報</h2>
        

        <h2 class="contentsDetails__head">アイコン選択（場所）</h2>
 <h2 class="contentsDetails__head">アイコン選択（ゲーム種別）</h2>
        <table class="contentsDetails__table">
          <tr><th>健康麻雀</th>
            <td>
              <%= form.radio_button :freeicon11, :false, checked: true %>
              <%= form.label :freeicon11, "非表示", {value: :false, style: "display: inline-block;"} %>
              <%= form.radio_button :freeicon11, :true, checked: @shop.freeicon11 %>
              <%= form.label :freeicon11, "表示", {value: :true, style: "display: inline-block;"} %>

              </td>
            </tr>
          
        </table>

        <h2 class="contentsDetails__head">アイコン選択（その他）</h2>
           






      <div class="comment_submit">
        <%= form.submit %>  
      </div>
<% end %>

      
    



    </div>
    <div class="contentsAd"></div>
    <div class="contentsRecommendPost"></div>
  </div>
</body>

  