



		<div class="contentsLayout--shop">
			
			<div class="contentsMain">
			
				
				<div class="contentsBreadcrumb"> <a href="/">TOP</a><span>&gt;</span><a href="/search?utf8=✓&search=<%= @shop.addres1 %>"><%= @shop.addres1 %></a><span>&gt;</span><a><%= @shop.shopname %></a></div>
				


				<div class="contentsDetails">
					<div class="contentsDetails__flex">
						<a class="contentsDetails__tag"><%= @shop.freeicon11 %></a>
						<a class="contentsDetails__tag"><%= @shop.freeicon22 %></a>
						<h1 class="contentsDetails__title"><%= @shop.shopname %></h1>
					</div>
					<p class="contentsDetails__desc"><%= @shop.topcomment %></p>
					
					<div class="contentsDetails__img">
						<a href="">トップ画像</a>
						<!-- <img src="/assets/details_img01.jpeg" alt=""> -->
						<a href="">有料画像1</a>
						<a href="">有料画像2</a>
						<!-- <img src="/assets/details_img02.jpeg" alt=""> -->
					</div>
					<p class="contentsDetails__desc"><%= @shop.comment %></p>
					
                    <!-- <%= link_to("編集", "/shops/#{@shop.userid}/edit") %> -->
					<h2 class="contentsDetails__head">基本情報</h2>
					
					<table class="contentsDetails__table">
	                    <tr>
							<th>店舗名</th>
							<td><%= @shop.shopname %></td>
						</tr>
					
					    <tr>                                       
                            <th>よみがな</th>
                            <td><%= @shop.yomi %></td>
                        </tr>
						
						<tr>
							<th>電話番号</th>
							<td><%= @shop.shoptel %></td>
						</tr>
					
						<tr>                                       
                            <th>住所</th>
                            <td><%= @shop.addres1 %><%= @shop.addres2 %></td>
                        </tr>                        				
					</table>
					

					<h2 class="contentsDetails__head">詳細情報</h2>
					<table class="contentsDetails__table">          
                        <tr>
                            <th>最寄駅</th>
                            <td><%= @shop.station %></td>
                        </tr>
          
                        <tr>
                            <th>徒歩時間</th>
                            <td>徒歩　<%= @shop.onfoot %>分</td>
                        </tr>
          
                        <tr>
                            <th>営業日</th>
                            <td><%= @shop.businessday %></td>
                        </tr>

                        <tr>
                            <th>営業時間</th>
                            <td><%= @shop.businesstime1 %>～<%= @shop.businesstime2 %></td>
                        </tr>
          
                        <tr>
                            <th>料金</th>
                            <td><%= @shop.pricelist %></td>
                        </tr>

                        <tr>
                            <th>HP(公式)</th>
                            <td><%= @shop.homepage1 %></td>
                        </tr>

                        <tr>
                            <th>HP(雀サクッ)</th>
                            <td><%= @shop.homepage2 %></td>
                        </tr>

                        <tr>
                            <th>HP(麻雀王国)</th>
                            <td><%= @shop.homepage3 %></td>
                        </tr>

                        <tr>
                            <th>Twitter</th>
                            <td><%= @shop.homepage4 %></td>
                        </tr>

                        <tr>
                             <th>年齢層</th>
                             <td><%= @shop.agegroup %></td>
                        </tr>

                        <tr>
                             <th>事前予約</th>
                             <td><%= @shop.reservation %></td>
                        </tr>

                        <tr>
                            <th>卓数</th>
                            <td><%= @shop.tablenum %></td>
                        </tr>

                        <tr>
                            <th>卓種</th>
                            <td><%= @shop.tabletype %></td>
                        </tr>

                        <tr>
                            <th>サービス</th>
                            <td><%= @shop.service %></td>
                        </tr>

                        <tr>
                            <th>システム・設備</th>
                            <td><%= @shop.system %></td>
                        </tr>

                        <tr>
                            <th>男女比率</th>
                            <td><%= @shop.ratio %></td>
                        </tr>

                        <tr>
                            <th>ルール</th>
                            <td><%= @shop.rule %></td>
                        </tr>

                        <tr>
                            <th>時間打切</th>
                            <td><%= @shop.timeup %></td>
                        </tr>                       

                        <tr>
                            <th>オープン日</th>
                            <td><%= @shop.opening %></td>
                        </tr>					
					</table>


					
				</div>
				
            <%= render 'shared/new_shop' %>

      </div>


      <div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
      


            <%= render 'shared/pickup_shop' %>
		</div>

