<div class="contentsLayout--shop">			
  <div class="contentsMain">
    <div class="contentsBreadcrumb"><a href="/">TOP</a><span>&gt;</span><a href="/search?utf8=✓&search=<%= @shop.addres1 %>"><%= @shop.addres1 %></a><span>&gt;</span><span><%= @shop.shopname %></span></div>
    <div class="contents_updated_at"><span>店舗情報 更新日</span><span><%= @shop.updated_at.strftime('%Y/%m/%d') %></span></div>  
    <div class="contentsDetails">
      <div class="contentsDetails__flex" style="display:block;">	     
       <%= render 'shared/contents_details_tag' %>
       <h1 class="contentsDetails__title"><%= @shop.shopname %></h1>
	    </div>
      <p class="contentsDetails__desc" style="font-weight: bold; line-height: 150%;"><%= safe_join(@shop.topcomment.split("\n"),tag(:br)) %></p>
      
<!--  ここから　-->
      <div class="contentsDetails__img" style="display:block;">
        
        <div id="contentsDetails__img">
          <% if @shop.topphoto == "" %>
          <img src="/topphoto_images/default_user.png" alt="">
          <% elsif @shop.topphoto == nil %>
          <img src="/topphoto_images/default_user.png" alt="">
          <% else %>
          <img style="object-fit: contain;" src="/topphoto_images/<%= @shop.topphoto %>" alt="">
          <% end %>
        </div>
        
        <div style="display:flex; justify-content: center;align-items: center;">
          <div id="contentsDetails__img" style="width: 360px;">
            <% if @shop.photo1 == "" %>
            <% elsif @shop.photo1 == nil %>
            <% else %>
            <img style="object-fit: contain;" src="/photo1_images/<%= @shop.photo1 %>" alt="">
            <% end %>
          </div>
	      
          <div id="contentsDetails__img" style="width: 360px; padding-left: 5px;">
            <% if @shop.photo2 == "" %>
            <% elsif @shop.photo2 == nil %>
            <% else %>
            <img style="object-fit: contain;" src="/photo2_images/<%= @shop.photo2 %>" alt="">
            <% end %>
          </div>
        </div>
	    </div>

<!--  ここまで　-->



      <p class="contentsDetails__desc" style="line-height: 90%;"><%= safe_join(@shop.comment.split("\n"),tag(:br)) %></p>

      <h2 class="contentsDetails__head">基本情報</h2>
      <table class="contentsDetails__table">
	      <tr><th>店舗名</th><td><%= @shop.shopname %></td></tr>	
	      <tr><th>よみがな</th><td><%= @shop.yomi %></td></tr>
        <tr><th>電話番号</th><td><a href="tel:<%= @shop.shoptel %>"><%= @shop.shoptel %></a></td></tr>
			  <tr><th>住所</th><td><%=safe_join(@shop.addres2.split("\n"),tag(:br))%></td></tr>
      </table>
    
      <h2 class="contentsDetails__head">詳細情報</h2>
	    <table class="contentsDetails__table">
        <tr><th>最寄駅</th><td><%=safe_join(@shop.station.split("\n"),tag(:br))%></td></tr>
        <tr><th>徒歩時間</th><td><%=safe_join(@shop.onfoot.split("\n"),tag(:br))%></td></tr>
        <tr><th>営業日</th><td><%= safe_join(@shop.businessday.split("\n"),tag(:br)) %></td></tr>
        <tr><th>営業時間</th><td><%= safe_join(@shop.businesstime1.split("\n"),tag(:br)) %></td></tr>
        <tr><th>料金</th><td><%= safe_join(@shop.pricelist.split("\n"),tag(:br)) %></td></tr>
        <tr><th>HP(公式)</th><td><%= text_url_to_link(safe_join((h(@shop.homepage1)).split("\n"),tag(:br))).html_safe %></td></tr>
        <tr><th>HP(雀サクッ)</th><td><%= link_to(@shop.homepage2, @shop.homepage2, target: :_blank, rel: "noopener noreferrer") %></td></tr>
        <tr><th>HP(麻雀王国)</th><td><%= link_to(@shop.homepage3, @shop.homepage3, target: :_blank, rel: "noopener noreferrer") %></td></tr>
        <tr><th>Twitter</th><td><%= link_to(@shop.homepage4, @shop.homepage4, target: :_blank, rel: "noopener noreferrer") %></td></tr>
        <tr><th>年齢層</th><td><%= safe_join(@shop.agegroup.split("\n"),tag(:br)) %></td></tr>
        <tr><th>事前予約</th><td><%= safe_join(@shop.reservation.split("\n"),tag(:br)) %></td></tr>
        <tr><th>卓数</th><td><%= safe_join(@shop.tablenum.split("\n"),tag(:br)) %></td></tr>
        <tr><th>卓種</th><td><%= safe_join(@shop.tabletype.split("\n"),tag(:br)) %></td></tr>
        <tr><th>サービス</th><td><%= safe_join(@shop.service.split("\n"),tag(:br)) %></td></tr>
        <tr><th>システム・設備</th><td><%= safe_join(@shop.system.split("\n"),tag(:br)) %></td></tr>
        <tr><th>男女比率</th><td><%= safe_join(@shop.ratio.split("\n"),tag(:br)) %></td></tr>
        <tr><th>ルール</th><td><%= safe_join(@shop.rule.split("\n"),tag(:br)) %></td></tr>
        <tr><th>時間打切</th><td><%= safe_join(@shop.timeup.split("\n"),tag(:br)) %></td></tr>
        <tr><th>オープン日</th><td><%= safe_join(@shop.opening.split("\n"),tag(:br)) %></td></tr>
      </table>
    </div>
   <%= render 'shared/new_shop' %>
  </div>
  <%= render 'shared/advertising' %>
  <%= render 'shared/pickup_shop' %>
</div>