<body class="top">
  <div class="contentsKv"><p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p></div>
  <div class="contentsLayout--shop">
  	<div class="contentsMain">
  	  <div class="contentsBreadcrumb"><a href="/">TOP</a><span>&gt;</span><a>店舗ログイン</a><span>&gt;</span><a><%= @shop.shopname %></a></div>
  	  <div class="contentsDetails">
  	  	<div class="contentsDetails__flex" style="display:block;">
  	  	  <%= render 'shared/contents_details_tag' %>
  	  	  <h1 class="contentsDetails__title"><%= @shop.shopname %></h1>
  	  	</div>
  	  	<p class="contentsDetails__desc"><%= @shop.topcomment %></p>
  	  	<div class="contentsDetails__img">
  	  		<% if @shop.topphoto == "" %><img src="/topphoto_images/default_user.png" alt="">
		      <% elsif @shop.topphoto == nil %><img src="/topphoto_images/default_user.png" alt="">
          <% else %><img src="/topphoto_images/<%= @shop.topphoto %>" alt="">
          <% end %>

          <% if @shop.photo1 == "" %>
          <% elsif @shop.photo1 == nil %>
          <% else %><img src="/photo1_images/<%= @shop.photo1 %>" alt="">
          <% end %>

	        <% if @shop.photo2 == "" %>
          <% elsif @shop.photo2 == nil %>
          <% else %><img src="/photo2_images/<%= @shop.photo2 %>" alt="">
          <% end %>
        </div>
        <p class="contentsDetails__desc"><%= @shop.comment %></p>					
        <!-- <p><%= link_to("店舗情報を変更する", "/user/#{@shop.id}/user_edit") %></p> -->
        <!-- <p>基本情報の変更はできません。変更が必要な場合は<%= link_to("こちら", "") %>にお問い合わせください</p> -->
        <h2>現在準備中のため、会員情報の変更はできません。変更が必要な場合は<%= link_to("こちらから", "/member_inquiry") %>お問い合わせください</h2>
        <h2 class="contentsDetails__head" style="background-color:#FFFF99;">会員情報(非公開情報)</h2>
        <table class="contentsDetails__table">
        	<tr><th>店舗id</th><td><%= @shop.userid %></td></tr>
		      <tr><th>パスワード</th><td>********</td></tr>	
		      <tr><th>担当者名</th><td><%= @shop.name %></td></tr>
          <tr><th>担当者電話番号</th><td><%= @shop.tel %></td></tr>
          <tr><th>担当者メールアドレス</th><td><%= @shop.mail %></td></tr>
          <tr><th>会員種別</th>
      	    <% if @shop.paidmember == true %><td>有料会員</td>
			      <% else %> <td>無料会員</td>
			      <% end %>
		      </tr>
		    </table>
		    <h2 class="contentsDetails__head">基本情報</h2>
		    <table class="contentsDetails__table">
		      <tr><th>店舗名</th><td><%= @shop.shopname %></td></tr>	
	        <tr><th>よみがな</th><td><%= @shop.yomi %></td></tr>
          <tr><th>電話番号</th><td><a href="tel:<%= @shop.shoptel %>"><%= @shop.shoptel %></a></td></tr>
			    <tr><th>住所</th><td><%=safe_join(@shop.addres2.split("\n"),tag(:br))%></td></tr>
			  </table>

			  <h2 class="contentsDetails__head">詳細情報</h2>
	      <table class="contentsDetails__table">
          <tr><th>最寄駅</th><td><%=safe_join(@shop.station.split("\n"),tag(:br))%></td></tr>
          <tr><th>徒歩時間</th><td><%=safe_join(@shop.onfoot.split("\n"),tag(:br))%></td></tr>
          <tr><th>営業日</th><td><%= safe_join(@shop.businessday.split("\n"),tag(:br)) %></td></tr>
          <tr><th>営業時間</th><td><%= safe_join(@shop.businesstime1.split("\n"),tag(:br)) %></td></tr>
          <tr><th>料金</th><td><%= safe_join(@shop.pricelist.split("\n"),tag(:br)) %></td></tr>
          <tr><th>HP(公式)</th><td><%= safe_join(@shop.homepage1.split("\n"),tag(:br)) %></td></tr>
          <tr><th>HP(雀サクッ)</th><td><%= safe_join(@shop.homepage2.split("\n"),tag(:br)) %></td></tr>
          <tr><th>HP(麻雀王国)</th><td><%= safe_join(@shop.homepage3.split("\n"),tag(:br)) %></td></tr>
          <tr><th>Twitter</th><td><%= safe_join(@shop.homepage4.split("\n"),tag(:br)) %></td></tr>
          <tr><th>年齢層</th><td><%= safe_join(@shop.agegroup.split("\n"),tag(:br)) %></td></tr>
          <tr><th>事前予約</th><td><%= safe_join(@shop.reservation.split("\n"),tag(:br)) %></td></tr>
          <tr><th>卓数</th><td><%= safe_join(@shop.tablenum.split("\n"),tag(:br)) %></td></tr>
          <tr><th>卓種</th><td><%= safe_join(@shop.tabletype.split("\n"),tag(:br)) %></td></tr>
          <tr><th>サービス</th><td><%= safe_join(@shop.service.split("\n"),tag(:br)) %></td></tr>
          <tr><th>システム・設備</th><td><%= safe_join(@shop.system.split("\n"),tag(:br)) %></td></tr>
          <tr><th>男女比率</th><td><%= safe_join(@shop.ratio.split("\n"),tag(:br)) %></td></tr>
          <tr><th>ルール</th><td><%= safe_join(@shop.rule.split("\n"),tag(:br)) %></td></tr>
          <tr><th>時間打切</th><td><%= safe_join(@shop.timeup.split("\n"),tag(:br)) %></td></tr>
          <tr><th>オープン日</th><td><%= safe_join(@shop.opening.split("\n"),tag(:br)) %></td></tr>
		    </table>
		    <h2 class="contentsDetails__head">アイコン選択</h2>
		    <table class="contentsDetails__table">
		  	  <tr><th>麻雀荘</th><% if @shop.freeicon1 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>公共施設</th><% if @shop.freeicon2 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>場所3</th><% if @shop.freeicon3 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>場所4</th><% if @shop.freeicon4 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>場所5</th><% if @shop.freeicon5 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>場所6</th><% if @shop.freeicon6 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>健康麻雀</th><% if @shop.freeicon11 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>ノーレートフリー</th><% if @shop.freeicon12 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>麻雀教室</th><% if @shop.freeicon13 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>競技麻雀</th><% if @shop.freeicon14 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>麻雀種別5</th><% if @shop.freeicon15 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>麻雀種別6</th><% if @shop.freeicon16 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>赤牌あり</th><% if @shop.freeicon21 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>Mリーグルール</th><% if @shop.freeicon22 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>3人打ち</th><% if @shop.freeicon23 == true %> <td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>4人打ち</th><% if @shop.freeicon24 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>その他5</th><% if @shop.freeicon25 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>その他6</th><% if @shop.freeicon26 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>その他7</th><% if @shop.freeicon27 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>(有料)おすすめ</th><% if @shop.paidicon1 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>(有料)ピックアップ</th><% if @shop.paidicon2 == true %> <td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>(有料)3</th><% if @shop.paidicon3 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		      <tr><th>(有料)4</th><% if @shop.paidicon4 == true %><td>〇</td><% else %><td>------</td><% end %></tr>
		    </table>
		  </div>
		</div>
		<div class="contentsAd"></div>
		<div class="contentsRecommendPost"></div>
  </div>
</body>