<% if session[:user_id] %><li>ログイン中</li><li>会員ページ編集画面</li><% else %><% end %>
<body class="top">
  <div class="contentsLayout--shop">
<div class="contentsMain">
      <div class="contentsBreadcrumb"><a href="/">TOP</a><span>&gt;</span><a>店舗ログイン</a><span>&gt;</span><a><%= @shop.shopname %></a></div>
      <div class="contentsDetails">
        <div class="contentsDetails__flex" style="display:block;"><%= render 'shared/contents_details_tag' %><h1 class="contentsDetails__title"><%= @shop.shopname %></h1>
        </div>

<%= form_tag("/user/#{@shop.id}/user_update") do %>

        <p class="contentsDetails__desc"><textarea style="height: 150px; width: 100%;" name="topcomment"><%= @shop.topcomment %></textarea></p>


 <!--  ここから　-->
      <div class="contentsDetails__img" style="display:block;">
        
        
        <div id="contentsDetails__img">

          <% if @shop.topphoto == "" %>
          <img src="/topphoto_images/default_user.png" alt="">
          <% elsif @shop.topphoto == nil %>
          <img src="/topphoto_images/default_user.png" alt="">
          <% else %>
          <img src="/topphoto_images/<%= @shop.topphoto %>" alt="">
          <% end %>
        </div>
        <a href="">トップ画像を変更する</a>
        <div style="display:flex; justify-content: center;align-items: center;">
          <div id="contentsDetails__img" style="width: 360px;">
            <% if @shop.photo1 == "" %>
            <% elsif @shop.photo1 == nil %>
            <% else %>
            <img src="/photo1_images/<%= @shop.photo1 %>" alt="">
            <% end %>
          </div>
        
          <div id="contentsDetails__img" style="width: 360px; padding-left: 5px;">
            <% if @shop.photo2 == "" %>
            <% elsif @shop.photo2 == nil %>
            <% else %>
            <img src="/photo2_images/<%= @shop.photo2 %>" alt="">
            <% end %>
          </div>
        </div>
        <div><div style="display: inline-block;"><a href="">画像（２枚目）を変更する</a></div><div style="text-align: right; "><a href="">画像（３枚目）を変更する</a></div></div>
      </div>

<!--  ここまで　-->



        <p class="contentsDetails__desc"><textarea style="height: 300px; width: 100%;" name="topcomment"><%= @shop.comment %></textarea></p> 





        <h2 class="contentsDetails__head" style="background-color:#FFFF99;">会員情報(非公開情報)</h2>
        <table class="contentsDetails__table">
          <tr><th>店舗id</th><td><%= @shop.userid %></td></tr>
          <tr><th>パスワード</th><td>*****</td></tr>
          <tr><th>担当者名</th><td><textarea name="name" style="width: 100%;"><%= @shop.name %></textarea></td></tr>
          <tr><th>担当者電話番号</th><td><textarea name="tel" style="width: 100%;"><%= @shop.tel %></textarea></td></tr>
          <tr><th>担当者メールアドレス</th><td><textarea name="mail" style="width: 100%;"><%= @shop.mail %></textarea></td></tr>
          <tr><th>会員種別</th><% if @shop.paidmember == true %><td>有料会員</td><% else %> <td>無料会員</td><% end %></tr>
			  </table>

        <h2 class="contentsDetails__head">基本情報</h2>
        <table class="contentsDetails__table">
          <tr><th>店舗名</th><td><%= @shop.shopname %></td></tr> 
          <tr><th>よみがな</th><td><%= @shop.yomi %></td></tr>
          <tr><th>電話番号</th><td><a href="tel:<%= @shop.shoptel %>"><%= @shop.shoptel %></a></td></tr>
          <tr><th>住所</th><td><%=safe_join(@shop.addres2.split("\n"),tag(:br))%></td></tr>
        </table>
			
        <h2 class="contentsDetails__head">詳細情報</h2>
			  <table class="contentsDetails__table">
          <tr><th>最寄駅</th><td><textarea name="station" style="width: 100%;"><%= @shop.station %></textarea></td></tr>
          <tr><th>徒歩時間</th><td><textarea name="onfoot" style="width: 100%;"><%= @shop.onfoot %></textarea></td></tr>
          <tr><th>営業日</th><td><textarea name="businessday" style="width: 100%;"><%= @shop.businessday %></textarea></td></tr>
          <tr><th>営業時間</th><td><textarea name="businesstime1" style="width: 100%;"><%= @shop.businesstime1 %></textarea></td></tr>
          <tr><th>料金</th><td><textarea name="pricelist" style="width: 100%;"><%= @shop.pricelist %></textarea></td></tr>
          <tr><th>HP(公式)</th><td><textarea name="homepage1" style="width: 100%;"><%= @shop.homepage1 %></textarea></td></tr>
          <tr><th>HP(雀サクッ)</th><td><textarea name="homepage2" style="width: 100%;"><%= @shop.homepage2 %></textarea></td></tr>
          <tr><th>HP(麻雀王国)</th><td><textarea name="homepage3" style="width: 100%;"><%= @shop.homepage3 %></textarea></td></tr>
          <tr><th>Twitter</th><td><textarea name="homepage4" style="width: 100%;"><%= @shop.homepage4 %></textarea></td></tr>
          <tr><th>年齢層</th><td><textarea name="agegroup" style="width: 100%;"><%= @shop.agegroup %></textarea></td></tr>
          <tr><th>事前予約</th><td><textarea name="reservation" style="width: 100%;"><%= @shop.reservation %></textarea></td></tr>
          <tr><th>卓数</th><td><textarea name="tablenum" style="width: 100%;"><%= @shop.tablenum %></textarea></td></tr>
          <tr><th>卓種</th><td><textarea name="tabletype" style="width: 100%;"><%= @shop.tabletype %></textarea></td></tr>
          <tr><th>サービス</th><td><textarea name="service" style="width: 100%;"><%= @shop.service %></textarea></td></tr>
          <tr><th>システム・設備</th><td><textarea name="system" style="width: 100%;"><%= @shop.system %></textarea></td></tr>
          <tr><th>男女比率</th><td><textarea name="ratio" style="width: 100%;"><%= @shop.ratio %></textarea></td></tr>
          <tr><th>ルール</th><td height="150"><textarea name="rule" style="width: 100%; height: 100%;"><%= @shop.rule %></textarea></td></tr>
          <tr><th>時間打切</th><td><textarea name="timeup" style="width: 100%;"><%= @shop.timeup %></textarea></td></tr>
          <tr><th>オープン日</th><td><textarea name="opening"><%= @shop.opening %></textarea></td></tr>
        </table>
  
  <%= form_with(model:@shops, local: true) do |form| %>

        <h2 class="contentsDetails__head">アイコン選択（場所）</h2>
        <table class="contentsDetails__table">
          <tr><th>麻雀店</th><% if @shop.freeicon1 == true %> <td>〇</td><% else %> <td>------</td><% end %></tr>
          <tr><th>公共施設</th><% if @shop.freeicon2 == true %> <td>〇</td><% else %> <td>------</td><% end %></tr>
          <tr><th>商業施設内</th><% if @shop.freeicon3 == true %> <td>〇</td><% else %> <td>------</td><% end %></tr>
          <tr><th>サークル・個人</th><% if @shop.freeicon4 == true %> <td>〇</td><% else %> <td>------</td><% end %></tr>
          <tr><th>その他の場所</th><% if @shop.freeicon5 == true %> <td>〇</td><% else %> <td>------</td><% end %> </tr>
        </table>

        <h2 class="contentsDetails__head">アイコン選択（ゲーム種別）</h2>
        <table class="contentsDetails__table">
          <tr><th>健康麻雀</th>
            <td>
              <%= form.radio_button :freeicon11, :false, checked: true %>
              <%= form.label :freeicon11, "非表示", {value: :false, style: "display: inline-block;"} %>
              <%= form.radio_button :freeicon11, :true, checked: @shop.freeicon11 %>
              <%= form.label :freeicon11, "表示", {value: :true, style: "display: inline-block;"} %>
              </td>
            </tr>
          <tr><th>ノーレートフリー</th><td><%= form.radio_button :freeicon12, :false, checked: true %><%= form.label :freeicon12, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon12, :true, checked: @shop.freeicon12 %><%= form.label :freeicon12, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>麻雀教室</th><td><%= form.radio_button :freeicon13, :false, checked: true %><%= form.label :freeicon13, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon13, :true, checked: @shop.freeicon13 %><%= form.label :freeicon13, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>競技麻雀</th><td><%= form.radio_button :freeicon14, :false, checked: true %><%= form.label :freeicon14, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon14, :true, checked: @shop.freeicon14 %><%= form.label :freeicon14, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>初心者教室</th><td><%= form.radio_button :freeicon15, :false, checked: true %><%= form.label :freeicon15, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon15, :true, checked: @shop.freeicon15 %><%= form.label :freeicon15, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
        </table>

        <h2 class="contentsDetails__head">アイコン選択（その他）</h2>
        <table class="contentsDetails__table">
          <tr><th>禁煙</th><td><%= form.radio_button :freeicon21, :false, checked: true %><%= form.label :freeicon21, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon21, :true, checked: @shop.freeicon21 %><%= form.label :freeicon21, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>喫煙可</th><td><%= form.radio_button :freeicon22, :false, checked: true %><%= form.label :freeicon22, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon22, :true, checked: @shop.freeicon22 %><%= form.label :freeicon22, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>セット</th><td><%= form.radio_button :freeicon23, :false, checked: true %><%= form.label :freeicon23, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon23, :true, checked: @shop.freeicon23 %><%= form.label :freeicon23, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>女性限定</th><td><%= form.radio_button :freeicon24, :false, checked: true %><%= form.label :freeicon24, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon24, :true, checked: @shop.freeicon24 %><%= form.label :freeicon24, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>要予約</th><td><%= form.radio_button :freeicon25, :false, checked: true %><%= form.label :freeicon25, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon25, :true, checked: @shop.freeicon25 %><%= form.label :freeicon25, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>Mリーグルール</th><td><%= form.radio_button :freeicon26, :false, checked: true %><%= form.label :freeicon26, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :freeicon26, :true, checked: @shop.freeicon26 %><%= form.label :freeicon26, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
        </table>
        
        <h2 class="contentsDetails__head">アイコン選択（有料会員限定）</h2>
        <table class="contentsDetails__table">
          
          <tr><th>(有料)おすすめ</th><td><%= form.radio_button :paidicon1, :false, checked: true %><%= form.label :paidicon1, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :paidicon1, :true, checked: @shop.paidicon1 %><%= form.label :paidicon1, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>(有料)ピックアップ</th><td><%= form.radio_button :paidicon2, :false, checked: true %><%= form.label :paidicon2, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :paidicon2, :true, checked: @shop.paidicon2 %><%= form.label :paidicon2, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>(有料)----</th><td><%= form.radio_button :paidicon3, :false, checked: true %><%= form.label :paidicon3, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :paidicon3, :true, checked: @shop.paidicon3 %><%= form.label :paidicon3, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
          <tr><th>(有料)ピックアップ</th><td><%= form.radio_button :paidicon4, :false, checked: true %><%= form.label :paidicon4, "非表示", {value: :false, style: "display: inline-block;"} %><%= form.radio_button :paidicon4, :true, checked: @shop.paidicon4 %><%= form.label :paidicon4, "表示", {value: :true, style: "display: inline-block;"} %></td></tr>
  <% end %>
				</table>
			</div>
      <div class="comment_submit"><input class="comment_btn" type="submit" name="" value="保存"></div>
      
<% end %>
    </div>
    <div class="contentsAd"></div>
    <div class="contentsRecommendPost"></div>
  </div>
</body>
