<div class="contentsNewPost">
  <h2 class="contentsNewPost__head">新着店舗情報</h2>
  <div class="contentsNewPost__inner">
						
	<% @shops_new_top.first(5).each do |shop| %>
	  <div class="contentsNewPost__item">
		<div class="contentsNewPost__item__head">
		  <% if shop.freeicon14 == true %>
		    <a class="contentsNewPost__item__tag" style="background-color: #FFCC33;"><td>競技麻雀</td></a>
		  <% else %>
		  <% end %>

		  <% if shop.freeicon13 == true %>
			<a class="contentsNewPost__item__tag"><td>麻雀教室</td></a>
		  <% else %>
		  <% end %>

		  <% if shop.freeicon12 == true %>
			<a class="contentsNewPost__item__tag" style="background-color: #FFFF99;"><td>ノーレートフリー</td></a>
		  <% else %>
		  <% end %>

          <% if shop.freeicon11 == true %>
			<a class="contentsNewPost__item__tag"><td>健康麻雀</td></a>
		  <% else %>
		  <% end %>

		  <% if shop.freeicon1 == true %>
			<a class="contentsNewPost__item__tag"><td>麻雀店</td></a>
		  <% elsif %>
			<% shop.freeicon2 == true %>
			<a class="contentsNewPost__item__tag" style="background-color: #CCFFFF;"><td>公共施設</td></a>
		  <% elsif %>
			<% shop.freeicon3 == true %>
			<a class="contentsNewPost__item__tag"><td>サークル・個人</td></a>
		  <% else %>
			<a class="contentsNewPost__item__tag"><td>その他の場所</td></a>
		  <% end %>
		  		                
	      <h3><a class="contentsNewPost__item__title" href="/shops/<%= shop.userid %>"><%= link_to(shop.shopname, "/shops/#{shop.userid}") %></a></h3>
		</div>
		
		<div class="contentsNewPost__item__flex">
		  <a class="contentsNewPost__item__img" href="/shops/<%= shop.userid %>">
			<img src="/assets/post_img01.png" alt="">
		  </a>
		  <p class="contentsNewPost__item__desc">
			<%= shop.addres1 %> <%= shop.area %>
			<br><%=safe_join(shop.topcomment.split("\n"),tag(:br))%>
		  </p>
		</div>
		
		<div class="contentsNewPost__item__btn__inner">
		  <a class="contentsNewPost__item__btn" href="/shops/<%= shop.userid %>">店舗詳細はこちら</a>
		</div>
	  </div>
	<% end %>					
						
  </div>
</div>