<div class="contentsNewPost">
  <h2 class="contentsNewPost__head">新着店舗情報</h2>
  <div class="contentsNewPost__inner">
						
	<% @shops.first(5).each do |shop| %>
	<div class="contentsNewPost__item">
		<div class="contentsNewPost__item__head">
			<a class="contentsNewPost__item__tag">					  
			    <% if shop.freeicon1 == true %>
					<td>麻雀店</td>
				<% elsif %>
					<% shop.freeicon2 == true %>
					<td>公共施設</td>
				<% elsif %>
					<% shop.freeicon3 == true %>
					<td>貸スペース</td>
				<% elsif %>
					<% shop.freeicon4 == true %>
					<td>サークル</td>
				<% elsif %>
					<% shop.freeicon5 == true %>
					<td>個人募集</td>
			    <% else %>
					<td>その他の場所</td>
				<% end %> 					
		    </a>				                
			<h3>
				<a class="contentsNewPost__item__title" href="/shops/<%= shop.userid %>">
				    <%= link_to(shop.shopname, "/shops/#{shop.userid}") %>
				</a>
			</h3>
		</div>
		<div class="contentsNewPost__item__flex">
			<a class="contentsNewPost__item__img" href="/shops/<%= shop.userid %>">
				<img src="/assets/post_img01.png" alt="">
			</a>
			<p class="contentsNewPost__item__desc">
				<%= shop.addres1 %> <%= shop.area %>
				<br><%= shop.station %>
				<br><%= shop.topcomment %>
			</p>
		</div>
		<div class="contentsNewPost__item__btn__inner">
			<a class="contentsNewPost__item__btn" href="/shops/<%= shop.userid %>">店舗詳細はこちら</a>
		</div>
	</div>
	<% end %>					
						
  </div>
</div>