<!doctype html>
<html lang="ja">

	

	<body class="top">


		<div class="contentsKv">
			<p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p>
			
		</div>
		
		<div class="contentsLayout">
			<div class="contentsMain">
				<div class="contentsMap">
					<h2>
						
					</h2>



  <svg class="contentsMap__map" xmlns="http://www.w3.org/2000/svg" width="470.456" height="487.86" viewBox="0 0 470.456 487.86">
  <g id="中部" transform="translate(-10041.865 853.161)">
    <g id="グループ_177" data-name="グループ 177" transform="translate(9493 -1321.708)">
      <path id="パス_503" data-name="パス 503" d="M440.311,570.436c7.858-7.857,15.713-23.565,31.425-19.641,21.378,14.253,45.99,34.971,73.835,26.963-19.99-11.91-7.821-45.558-10.991-74.1,0-3.924,19.639-11.781,19.639-19.639,5.507-16.528,11.048-33.021,17.915-48.2-28.272-12.342-56.855-3.262-88.614-6.791,3.926,15.713-7.86,23.568-15.713,35.349-3.931,7.858,15.713,19.639,11.781,27.5-15.572,15.569-46.563.311-62.406,15.347,7.783,15.814,8.475,35.888,3.7,54.24,5.341,7.411,13.5,14.9,19.424,8.969" transform="translate(213.719 283.69)" fill="#849055"/>
      <path id="パス_507" data-name="パス 507" d="M532.243,505.672c-27.845,8.008-52.457-12.707-73.835-26.961-15.713-3.926-23.568,11.784-31.425,19.639a9.026,9.026,0,0,1-.728.615c2.368,8.7,5.094,17.031,8.823,24.363,4.262-2.143,8.665-2.01,11.384,2.751,4.405,7.7-5.5,13.209-3.3,25.316S450.864,564.6,454.166,558s2.2-17.612,6.605-18.713,7.7,3.3,7.7,11,6.606,9.907,12.105,9.907,11.006,3.3,6.608,5.5-8.808,15.412-14.308,9.907-13.211-4.4-14.313,2.2,0,6.6,7.7,6.6,23.118-3.3,28.618-5.5c4.215-1.687,8.426-11.732,12.144-13.893,2.988-24.4,24.311-39.646,45.637-54.882-9.08,0-15.663-1.622-20.429-4.465" transform="translate(227.049 355.775)" fill="#849055"/>
      <path id="パス_508" data-name="パス 508" d="M532.243,505.672c-27.845,8.008-52.457-12.707-73.835-26.961-15.713-3.926-23.568,11.784-31.425,19.639a9.026,9.026,0,0,1-.728.615c2.368,8.7,5.094,17.031,8.823,24.363,4.262-2.143,8.665-2.01,11.384,2.751,4.405,7.7-5.5,13.209-3.3,25.316S450.864,564.6,454.166,558s2.2-17.612,6.605-18.713,7.7,3.3,7.7,11,6.606,9.907,12.105,9.907,11.006,3.3,6.608,5.5-8.808,15.412-14.308,9.907-13.211-4.4-14.313,2.2,0,6.6,7.7,6.6,23.118-3.3,28.618-5.5c4.215-1.687,8.426-11.732,12.144-13.893,2.988-24.4,24.311-39.646,45.637-54.882C543.592,510.137,537.009,508.515,532.243,505.672Z" transform="translate(227.049 355.775)" fill="#849055"/>
      <path id="パス_509" data-name="パス 509" d="M547.77,418.4a35.038,35.038,0,0,1-7-10.976c-4.956-3.1-9.912-6.467-14.866-4.487-5.5,2.2-12.1,5.512-17.6,14.313s-5.5,15.409-15.411,12.107-11.016-7.7-15.416-16.508c-3.61-7.233-4.25-8.507-4.359-8.742-14.011-.849-14.056,21.778-14.056,28.8-3.934,0-7.855,7.855-11.781,3.926-3.556,10.655-10.26,21.318.106,31.979-.045-.19-.059-.366-.106-.556,31.759,3.529,60.34-5.551,88.612,6.791a181.72,181.72,0,0,1,9.579-18.575c6.013-12.019,4.862-25.055,2.3-38.071" transform="translate(249.96 244.471)" fill="#849055"/>
      <path id="パス_510" data-name="パス 510" d="M547.77,418.4a35.038,35.038,0,0,1-7-10.976c-4.956-3.1-9.912-6.467-14.866-4.487-5.5,2.2-12.1,5.512-17.6,14.313s-5.5,15.409-15.411,12.107-11.016-7.7-15.416-16.508c-3.61-7.233-4.25-8.507-4.359-8.742-14.011-.849-14.056,21.778-14.056,28.8-3.934,0-7.855,7.855-11.781,3.926-3.556,10.655-10.26,21.318.106,31.979-.045-.19-.059-.366-.106-.556,31.759,3.529,60.34-5.551,88.612,6.791a181.72,181.72,0,0,1,9.579-18.575C551.484,444.451,550.333,431.415,547.77,418.4Z" transform="translate(249.96 244.471)" fill="#849055"/>
      <path id="パス_511" data-name="パス 511" d="M474.036,482.394c3.926,3.929,7.85-3.926,11.781-3.926,0-7.02.044-29.647,14.056-28.8a.549.549,0,0,0-.04-.067s17.612-4.4,16.513-13.206-8.811-4.405-12.112-8.808-5.5-7.7,0-11,15.417-1.1,15.417-1.1,2.2-11,11-16.508,15.411-8.811,12.107-15.411-3.3-13.209-13.211-12.1-17.612,14.308-24.213,14.308-13.2-2.2-20.913,4.4-11,14.31-9.907,23.116,3.3,5.5,2.2,17.612-18.711,33.018-19.812,41.824-16.51,26.417-20.913,28.62-3.3,15.406-11.006,16.508c-.442.062-.894.1-1.351.133,10.537,13.49,19.916,27.378,34.216,33.181a4.888,4.888,0,0,1,.469-1.99c7.761-11.643,19.328-19.464,15.819-34.8-10.364-10.66-3.66-21.323-.106-31.979" transform="translate(223.204 198.907)" fill="#849055"/>
      <path id="パス_512" data-name="パス 512" d="M474.036,482.394c3.926,3.929,7.85-3.926,11.781-3.926,0-7.02.044-29.647,14.056-28.8a.549.549,0,0,0-.04-.067s17.612-4.4,16.513-13.206-8.811-4.405-12.112-8.808-5.5-7.7,0-11,15.417-1.1,15.417-1.1,2.2-11,11-16.508,15.411-8.811,12.107-15.411-3.3-13.209-13.211-12.1-17.612,14.308-24.213,14.308-13.2-2.2-20.913,4.4-11,14.31-9.907,23.116,3.3,5.5,2.2,17.612-18.711,33.018-19.812,41.824-16.51,26.417-20.913,28.62-3.3,15.406-11.006,16.508c-.442.062-.894.1-1.351.133,10.537,13.49,19.916,27.378,34.216,33.181a4.888,4.888,0,0,1,.469-1.99c7.761-11.643,19.328-19.464,15.819-34.8C463.778,503.712,470.482,493.049,474.036,482.394Z" transform="translate(223.204 198.907)" fill="#849055"/>
      <path id="パス_513" data-name="パス 513" d="M481.939,430.963c-7.475.5-16.575-2.991-21.763,4.269-5.5,7.7-23.116,26.42-23.116,40.728s8.806,16.51,5.5,25.314-3.3,5.507-16.508,3.3-17.614-5.5-24.217-1.1c-6.2,4.136-13.382,11.191-17.878,8.364,1.511,7.65,4.62,13.95,10.9,17.086,23.56,7.858,51.06-7.855,70.7-23.563,15.71-15.713,47.131,0,62.843-15.713,3.61-7.221-12.636-17.748-12.251-25.5-14.3-5.8-23.676-19.693-34.216-33.181" transform="translate(164.904 285.922)" fill="#849055"/>
      <path id="パス_514" data-name="パス 514" d="M481.939,430.963c-7.475.5-16.575-2.991-21.763,4.269-5.5,7.7-23.116,26.42-23.116,40.728s8.806,16.51,5.5,25.314-3.3,5.507-16.508,3.3-17.614-5.5-24.217-1.1c-6.2,4.136-13.382,11.191-17.878,8.364,1.511,7.65,4.62,13.95,10.9,17.086,23.56,7.858,51.06-7.855,70.7-23.563,15.71-15.713,47.131,0,62.843-15.713,3.61-7.221-12.636-17.748-12.251-25.5C501.855,458.341,492.478,444.45,481.939,430.963Z" transform="translate(164.904 285.922)" fill="#849055"/>
      <path id="パス_515" data-name="パス 515" d="M539.836,588.318c6.3-50.4,27.763-55.317,60.322-53.272-12.278-12.342-5.331-34.3-5.331-52.776,0-3.931-11.786-11.786-19.639-7.855V458.7c16.436,0,25.22-11.473,30.371-25.067-3.1-8.455-1.928-22.066-6.806-22.066-28.679-3.185-65.093,16.856-84.115-2.721,2.563,13.016,3.714,26.054-2.3,38.07-11.781,19.639-19.639,43.207-27.494,66.775,0,7.855-19.639,15.713-19.639,19.637,3.613,32.5-12.648,71.607,21.306,77.712,22.674-3.2,49.7-4.593,53.324-22.721" transform="translate(283.094 254.024)" fill="#849055"/>
      <path id="パス_516" data-name="パス 516" d="M539.836,588.318c6.3-50.4,27.763-55.317,60.322-53.272-12.278-12.342-5.331-34.3-5.331-52.776,0-3.931-11.786-11.786-19.639-7.855V458.7c16.436,0,25.22-11.473,30.371-25.067-3.1-8.455-1.928-22.066-6.806-22.066-28.679-3.185-65.093,16.856-84.115-2.721,2.563,13.016,3.714,26.054-2.3,38.07-11.781,19.639-19.639,43.207-27.494,66.775,0,7.855-19.639,15.713-19.639,19.637,3.613,32.5-12.648,71.607,21.306,77.712C509.186,607.843,536.21,606.445,539.836,588.318Z" transform="translate(283.094 254.024)" fill="#849055"/>
      <path id="パス_517" data-name="パス 517" d="M521.916,548.8c11.979-29.946,26.249-25.649,46.269-21.916a8.977,8.977,0,0,1,.867-1.654c7.855-15.71,31.426-27.5,11.781-39.281q-17.672-11.783-23.565-23.563a22.719,22.719,0,0,1-2.524-2.213c-31.2-1.963-52.2,2.507-59.443,47.215,5.376,10.031,8.174,19.891,10.9,33.552,3.929,3.929,11.786,11.787,15.71,7.86" transform="translate(328.506 328.899)" fill="#849055"/>
      <path id="パス_518" data-name="パス 518" d="M521.916,548.8c11.979-29.946,26.249-25.649,46.269-21.916a8.977,8.977,0,0,1,.867-1.654c7.855-15.71,31.426-27.5,11.781-39.281q-17.672-11.783-23.565-23.563a22.719,22.719,0,0,1-2.524-2.213c-31.2-1.963-52.2,2.507-59.443,47.215,5.376,10.031,8.174,19.891,10.9,33.552C510.135,544.867,517.992,552.724,521.916,548.8Z" transform="translate(328.506 328.899)" fill="#849055"/>
      <path id="パス_519" data-name="パス 519" d="M621.576,498.567c-20.019-3.734-34.292-8.031-46.269,21.916-3.924,3.926-11.784-3.931-15.713-7.86-2.729-13.661-5.527-23.521-10.9-33.552-.314,1.953-.615,3.951-.877,6.057-3.625,18.125-30.65,19.525-53.324,22.721a56.919,56.919,0,0,0,10.117.85c-21.328,15.234-42.651,30.479-45.639,54.882a2.283,2.283,0,0,1,3.267.682c4.4,5.507,7.7,14.305,17.607,16.508s20.913,0,23.116,3.3,9.9,13.211,18.711,12.11,12.105-12.105,17.612-16.508,6.611-13.211,12.11-16.513,14.31-11.009,20.911-14.31,15.414-17.607,20.913-11,6.6,7.7,1.1,22.007-9.907,8.806-6.6,20.913,4.4,11.013,6.6,16.515,6.6-2.2,14.308-6.606,17.609-18.713,22.015-27.516c3.44-6.877.864-20.437,3.749-28.687-7.243-14.56-16.15-27.6-12.809-35.91" transform="translate(275.118 357.214)" fill="#849055"/>
      <path id="パス_520" data-name="パス 520" d="M621.576,498.567c-20.019-3.734-34.292-8.031-46.269,21.916-3.924,3.926-11.784-3.931-15.713-7.86-2.729-13.661-5.527-23.521-10.9-33.552-.314,1.953-.615,3.951-.877,6.057-3.625,18.125-30.65,19.525-53.324,22.721a56.919,56.919,0,0,0,10.117.85c-21.328,15.234-42.651,30.479-45.639,54.882a2.283,2.283,0,0,1,3.267.682c4.4,5.507,7.7,14.305,17.607,16.508s20.913,0,23.116,3.3,9.9,13.211,18.711,12.11,12.105-12.105,17.612-16.508,6.611-13.211,12.11-16.513,14.31-11.009,20.911-14.31,15.414-17.607,20.913-11,6.6,7.7,1.1,22.007-9.907,8.806-6.6,20.913,4.4,11.013,6.6,16.515,6.6-2.2,14.308-6.606,17.609-18.713,22.015-27.516c3.44-6.877.864-20.437,3.749-28.687C627.142,519.917,618.235,506.874,621.576,498.567Z" transform="translate(275.118 357.214)" fill="#849055"/>
      <path id="パス_521" data-name="パス 521" d="M631.938,471.33c0-11.784,19.637,0,31.423,0,7.855-3.929,7.855-15.71,7.855-19.639A149.7,149.7,0,0,0,692.384,432.9a13.829,13.829,0,0,1-5.455-4.773C683,408.484,683,384.916,710.495,380.99a321.162,321.162,0,0,0-18.219-47.568c-1.232,2.092-2.242,3.716-2.894,4.588-3.3,4.4-2.2,1.1-11.006,12.1s-11.008,29.722-18.71,38.527-12.107,12.107-22.015,18.713-6.606,4.4-19.814,14.308S594.72,446.972,587.02,457.98,561.7,487.7,546.29,492.105s-22.015,3.3-35.216,6.606-22.02,14.308-27.521,11c-.551-.331-1.1-.674-1.645-1.02,15.473,36.74,58.344,10.058,91.113,13.7,7.853,0,0,35.349,19.639,27.494,11.784-7.855,23.565-27.494,31.421-23.565A63.236,63.236,0,0,0,634.109,531c3.934-19.748-5.3-40.945-2.171-59.67" transform="translate(308.827 143.199)" fill="#849055"/>
      <path id="パス_522" data-name="パス 522" d="M631.938,471.33c0-11.784,19.637,0,31.423,0,7.855-3.929,7.855-15.71,7.855-19.639A149.7,149.7,0,0,0,692.384,432.9a13.829,13.829,0,0,1-5.455-4.773C683,408.484,683,384.916,710.495,380.99a321.162,321.162,0,0,0-18.219-47.568c-1.232,2.092-2.242,3.716-2.894,4.588-3.3,4.4-2.2,1.1-11.006,12.1s-11.008,29.722-18.71,38.527-12.107,12.107-22.015,18.713-6.606,4.4-19.814,14.308S594.72,446.972,587.02,457.98,561.7,487.7,546.29,492.105s-22.015,3.3-35.216,6.606-22.02,14.308-27.521,11c-.551-.331-1.1-.674-1.645-1.02,15.473,36.74,58.344,10.058,91.113,13.7,7.853,0,0,35.349,19.639,27.494,11.784-7.855,23.565-27.494,31.421-23.565A63.236,63.236,0,0,0,634.109,531C638.042,511.253,628.812,490.055,631.938,471.33Z" transform="translate(308.827 143.199)" fill="#849055"/>
      <path id="パス_555" data-name="パス 555" d="M540.766,344.272c-2.306-1.222-1.2-3.618-4.581-.239s-2.894,7.235-6.275,10.124-6.5,6.265-9.643,7.712-5.067,0-7.233,4.586-6.03,6.751-1.689,8.68,4.818-2.168,8.2-.484,7.961,1.689,6.275,4.823-6.988,2.41-11.572,9.164S508.7,401.65,511.588,403.1s6.509-.726,12.3-3.134,15.189-13.74,17.118-17.839,6.03-3.139,3.857-7.719-1.934-3.618-4.581-5.307-4.341-.961-2.41-4.576,7.472-3.376,7.714-8.2-.729-9.887-4.82-12.058" transform="translate(349.184 156.245)" fill="#849055"/>
      <path id="パス_556" data-name="パス 556" d="M540.766,344.272c-2.306-1.222-1.2-3.618-4.581-.239s-2.894,7.235-6.275,10.124-6.5,6.265-9.643,7.712-5.067,0-7.233,4.586-6.03,6.751-1.689,8.68,4.818-2.168,8.2-.484,7.961,1.689,6.275,4.823-6.988,2.41-11.572,9.164S508.7,401.65,511.588,403.1s6.509-.726,12.3-3.134,15.189-13.74,17.118-17.839,6.03-3.139,3.857-7.719-1.934-3.618-4.581-5.307-4.341-.961-2.41-4.576,7.472-3.376,7.714-8.2S544.858,346.442,540.766,344.272Z" transform="translate(349.184 156.245)" fill="#849055"/>
    </g>
    <g id="グループ_176" data-name="グループ 176" transform="translate(9496 -1328.708)">
      <path id="パス_503-2" data-name="パス 503" d="M439.82,567.43c7.691-7.69,15.379-23.064,30.757-19.224,20.923,13.95,45.012,34.228,72.265,26.39-19.565-11.657-7.654-44.589-10.758-72.522,0-3.84,19.222-11.531,19.222-19.222,5.39-16.176,10.813-32.319,17.535-47.173-27.671-12.08-55.647-3.193-86.731-6.646,3.843,15.379-7.693,23.067-15.379,34.6-3.848,7.691,15.379,19.222,11.531,26.912-15.241,15.239-45.573.3-61.08,15.021,7.618,15.478,8.295,35.125,3.625,53.087,5.228,7.253,13.216,14.579,19.011,8.778" transform="translate(211.976 278.671)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_507-2" data-name="パス 507" d="M529.99,505.086c-27.253,7.838-51.342-12.437-72.265-26.388-15.379-3.843-23.067,11.533-30.757,19.222a8.84,8.84,0,0,1-.713.6c2.318,8.512,4.986,16.669,8.635,23.845,4.172-2.1,8.481-1.967,11.142,2.692,4.312,7.541-5.385,12.928-3.234,24.778s7.543,12.928,10.775,6.465,2.153-17.237,6.465-18.315,7.541,3.229,7.541,10.77,6.465,9.7,11.848,9.7,10.772,3.231,6.468,5.387-8.621,15.084-14,9.7-12.93-4.309-14.008,2.156,0,6.461,7.541,6.461,22.627-3.229,28.009-5.385c4.126-1.651,8.247-11.483,11.886-13.6,2.924-23.884,23.794-38.8,44.667-53.716-8.887,0-15.33-1.588-19.995-4.37" transform="translate(224.829 348.182)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_508-2" data-name="パス 508" d="M529.99,505.086c-27.253,7.838-51.342-12.437-72.265-26.388-15.379-3.843-23.067,11.533-30.757,19.222a8.84,8.84,0,0,1-.713.6c2.318,8.512,4.986,16.669,8.635,23.845,4.172-2.1,8.481-1.967,11.142,2.692,4.312,7.541-5.385,12.928-3.234,24.778s7.543,12.928,10.775,6.465,2.153-17.237,6.465-18.315,7.541,3.229,7.541,10.77,6.465,9.7,11.848,9.7,10.772,3.231,6.468,5.387-8.621,15.084-14,9.7-12.93-4.309-14.008,2.156,0,6.461,7.541,6.461,22.627-3.229,28.009-5.385c4.126-1.651,8.247-11.483,11.886-13.6,2.924-23.884,23.794-38.8,44.667-53.716C541.1,509.456,534.654,507.868,529.99,505.086Z" transform="translate(224.829 348.182)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_509-2" data-name="パス 509" d="M545.518,418.057a34.293,34.293,0,0,1-6.847-10.743c-4.851-3.033-9.7-6.33-14.55-4.391-5.385,2.156-11.848,5.394-17.23,14.008s-5.387,15.081-15.084,11.85-10.782-7.541-15.089-16.157c-3.534-7.079-4.16-8.326-4.266-8.556-13.714-.831-13.757,21.315-13.757,28.186-3.85,0-7.688,7.688-11.531,3.843-3.48,10.429-10.042,20.865.1,31.3-.044-.186-.058-.358-.1-.544,31.084,3.454,59.057-5.433,86.728,6.646a177.868,177.868,0,0,1,9.375-18.18c5.885-11.763,4.759-24.522,2.25-37.261" transform="translate(246.922 240.853)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_510-2" data-name="パス 510" d="M545.518,418.057a34.293,34.293,0,0,1-6.847-10.743c-4.851-3.033-9.7-6.33-14.55-4.391-5.385,2.156-11.848,5.394-17.23,14.008s-5.387,15.081-15.084,11.85-10.782-7.541-15.089-16.157c-3.534-7.079-4.16-8.326-4.266-8.556-13.714-.831-13.757,21.315-13.757,28.186-3.85,0-7.688,7.688-11.531,3.843-3.48,10.429-10.042,20.865.1,31.3-.044-.186-.058-.358-.1-.544,31.084,3.454,59.057-5.433,86.728,6.646a177.868,177.868,0,0,1,9.375-18.18C549.153,443.556,548.027,430.8,545.518,418.057Z" transform="translate(246.922 240.853)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_511-2" data-name="パス 511" d="M472.965,480.033c3.843,3.845,7.683-3.843,11.531-3.843,0-6.871.043-29.017,13.757-28.186a.539.539,0,0,0-.039-.065s17.237-4.3,16.162-12.926-8.623-4.312-11.855-8.621-5.385-7.536,0-10.77,15.089-1.08,15.089-1.08,2.149-10.77,10.77-16.157,15.084-8.623,11.85-15.084S537,370.373,527.3,371.454s-17.237,14-23.7,14-12.923-2.156-20.469,4.307-10.77,14.006-9.7,22.625,3.234,5.385,2.156,17.237-18.313,32.316-19.391,40.935-16.159,25.856-20.469,28.012S432.5,513.652,424.96,514.73c-.433.06-.875.1-1.322.131,10.313,13.2,19.492,26.8,33.489,32.476a4.784,4.784,0,0,1,.459-1.948c7.6-11.4,18.917-19.05,15.483-34.057-10.144-10.434-3.582-20.87-.1-31.3" transform="translate(221.122 196.917)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_512-2" data-name="パス 512" d="M472.965,480.033c3.843,3.845,7.683-3.843,11.531-3.843,0-6.871.043-29.017,13.757-28.186a.539.539,0,0,0-.039-.065s17.237-4.3,16.162-12.926-8.623-4.312-11.855-8.621-5.385-7.536,0-10.77,15.089-1.08,15.089-1.08,2.149-10.77,10.77-16.157,15.084-8.623,11.85-15.084S537,370.373,527.3,371.454s-17.237,14-23.7,14-12.923-2.156-20.469,4.307-10.77,14.006-9.7,22.625,3.234,5.385,2.156,17.237-18.313,32.316-19.391,40.935-16.159,25.856-20.469,28.012S432.5,513.652,424.96,514.73c-.433.06-.875.1-1.322.131,10.313,13.2,19.492,26.8,33.489,32.476a4.784,4.784,0,0,1,.459-1.948c7.6-11.4,18.917-19.05,15.483-34.057C462.925,500.9,469.487,490.462,472.965,480.033Z" transform="translate(221.122 196.917)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_513-2" data-name="パス 513" d="M479.856,430.954c-7.316.488-16.222-2.927-21.3,4.179-5.385,7.538-22.625,25.858-22.625,39.862s8.619,16.159,5.387,24.776-3.227,5.39-16.157,3.234-17.24-5.385-23.7-1.08c-6.069,4.048-13.1,10.953-17.5,8.186,1.479,7.488,4.522,13.653,10.671,16.723,23.06,7.691,49.974-7.688,69.2-23.062,15.376-15.379,46.129,0,61.508-15.379,3.534-7.067-12.367-17.37-11.99-24.962-14-5.68-23.173-19.275-33.489-32.476" transform="translate(164.904 280.824)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_514-2" data-name="パス 514" d="M479.856,430.954c-7.316.488-16.222-2.927-21.3,4.179-5.385,7.538-22.625,25.858-22.625,39.862s8.619,16.159,5.387,24.776-3.227,5.39-16.157,3.234-17.24-5.385-23.7-1.08c-6.069,4.048-13.1,10.953-17.5,8.186,1.479,7.488,4.522,13.653,10.671,16.723,23.06,7.691,49.974-7.688,69.2-23.062,15.376-15.379,46.129,0,61.508-15.379,3.534-7.067-12.367-17.37-11.99-24.962C499.349,457.75,490.172,444.155,479.856,430.954Z" transform="translate(164.904 280.824)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_515-2" data-name="パス 515" d="M538.232,584.5c6.163-49.324,27.173-54.141,59.04-52.14-12.017-12.08-5.218-33.568-5.218-51.654,0-3.848-11.536-11.536-19.222-7.688V457.64c16.087,0,24.684-11.229,29.725-24.534-3.036-8.275-1.887-21.6-6.661-21.6-28.07-3.118-63.71,16.5-82.327-2.663,2.509,12.739,3.635,25.5-2.25,37.261-11.531,19.222-19.222,42.289-26.91,65.355,0,7.688-19.222,15.379-19.222,19.219,3.536,31.809-12.379,70.085,20.853,76.06,22.192-3.128,48.643-4.5,52.191-22.238" transform="translate(278.872 250.065)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_516-2" data-name="パス 516" d="M538.232,584.5c6.163-49.324,27.173-54.141,59.04-52.14-12.017-12.08-5.218-33.568-5.218-51.654,0-3.848-11.536-11.536-19.222-7.688V457.64c16.087,0,24.684-11.229,29.725-24.534-3.036-8.275-1.887-21.6-6.661-21.6-28.07-3.118-63.71,16.5-82.327-2.663,2.509,12.739,3.635,25.5-2.25,37.261-11.531,19.222-19.222,42.289-26.91,65.355,0,7.688-19.222,15.379-19.222,19.219,3.536,31.809-12.379,70.085,20.853,76.06C508.234,603.613,534.684,602.245,538.232,584.5Z" transform="translate(278.872 250.065)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_517-2" data-name="パス 517" d="M521.35,546.906c11.724-29.31,25.691-25.1,45.285-21.45a8.784,8.784,0,0,1,.848-1.619c7.688-15.376,30.758-26.912,11.531-38.446q-17.3-11.532-23.064-23.062a22.237,22.237,0,0,1-2.47-2.166c-30.535-1.921-51.088,2.453-58.18,46.211,5.262,9.817,8,19.468,10.673,32.838,3.845,3.845,11.536,11.536,15.376,7.693" transform="translate(322.662 322.265)" fill="#ceec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_518-2" data-name="パス 518" d="M521.35,546.906c11.724-29.31,25.691-25.1,45.285-21.45a8.784,8.784,0,0,1,.848-1.619c7.688-15.376,30.758-26.912,11.531-38.446q-17.3-11.532-23.064-23.062a22.237,22.237,0,0,1-2.47-2.166c-30.535-1.921-51.088,2.453-58.18,46.211,5.262,9.817,8,19.468,10.673,32.838C509.819,543.059,517.51,550.749,521.35,546.906Z" transform="translate(322.662 322.265)" fill="#b2e340" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_519-2" data-name="パス 519" d="M618.12,498.152c-19.594-3.654-33.564-7.86-45.286,21.45-3.84,3.843-11.533-3.848-15.379-7.693-2.671-13.37-5.409-23.021-10.673-32.838-.307,1.912-.6,3.867-.858,5.929-3.548,17.74-30,19.11-52.191,22.238a55.712,55.712,0,0,0,9.9.832c-20.875,14.91-41.745,29.832-44.669,53.716a2.234,2.234,0,0,1,3.2.667c4.307,5.39,7.538,14,17.233,16.157s20.469,0,22.625,3.234,9.694,12.931,18.313,11.853,11.848-11.848,17.237-16.157,6.47-12.931,11.853-16.162S563.43,550.6,569.891,547.37s15.086-17.232,20.469-10.77,6.463,7.534,1.078,21.539-9.7,8.619-6.463,20.469,4.307,10.779,6.463,16.164,6.46-2.154,14-6.465,17.235-18.315,21.547-26.931c3.367-6.731.846-20,3.669-28.077-7.089-14.25-15.807-27.016-12.536-35.147" transform="translate(271.181 349.569)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_520-2" data-name="パス 520" d="M618.12,498.152c-19.594-3.654-33.564-7.86-45.286,21.45-3.84,3.843-11.533-3.848-15.379-7.693-2.671-13.37-5.409-23.021-10.673-32.838-.307,1.912-.6,3.867-.858,5.929-3.548,17.74-30,19.11-52.191,22.238a55.712,55.712,0,0,0,9.9.832c-20.875,14.91-41.745,29.832-44.669,53.716a2.234,2.234,0,0,1,3.2.667c4.307,5.39,7.538,14,17.233,16.157s20.469,0,22.625,3.234,9.694,12.931,18.313,11.853,11.848-11.848,17.237-16.157,6.47-12.931,11.853-16.162S563.43,550.6,569.891,547.37s15.086-17.232,20.469-10.77,6.463,7.534,1.078,21.539-9.7,8.619-6.463,20.469,4.307,10.779,6.463,16.164,6.46-2.154,14-6.465,17.235-18.315,21.547-26.931c3.367-6.731.846-20,3.669-28.077C623.568,519.049,614.85,506.283,618.12,498.152Z" transform="translate(271.181 349.569)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_521-2" data-name="パス 521" d="M628.749,468.4c0-11.534,19.219,0,30.755,0,7.688-3.845,7.688-15.376,7.688-19.222a146.523,146.523,0,0,0,20.718-18.4,13.535,13.535,0,0,1-5.339-4.672c-3.848-19.222-3.848-42.289,23.065-46.131A314.337,314.337,0,0,0,687.8,333.422c-1.206,2.047-2.195,3.637-2.833,4.491-3.234,4.309-2.154,1.076-10.772,11.848s-10.774,29.09-18.313,37.709-11.85,11.85-21.547,18.315-6.465,4.3-19.393,14-22.625,24.771-30.161,35.545-24.78,29.087-39.864,33.4-21.547,3.234-34.467,6.465-21.552,14-26.936,10.77c-.539-.324-1.073-.66-1.61-1,15.144,35.959,57.1,9.844,89.176,13.407,7.686,0,0,34.6,19.222,26.91,11.534-7.688,23.065-26.91,30.753-23.065a61.887,61.887,0,0,0,9.815,4.58c3.85-19.328-5.184-40.075-2.124-58.4" transform="translate(303.686 143.198)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_522-2" data-name="パス 522" d="M628.749,468.4c0-11.534,19.219,0,30.755,0,7.688-3.845,7.688-15.376,7.688-19.222a146.523,146.523,0,0,0,20.718-18.4,13.535,13.535,0,0,1-5.339-4.672c-3.848-19.222-3.848-42.289,23.065-46.131A314.337,314.337,0,0,0,687.8,333.422c-1.206,2.047-2.195,3.637-2.833,4.491-3.234,4.309-2.154,1.076-10.772,11.848s-10.774,29.09-18.313,37.709-11.85,11.85-21.547,18.315-6.465,4.3-19.393,14-22.625,24.771-30.161,35.545-24.78,29.087-39.864,33.4-21.547,3.234-34.467,6.465-21.552,14-26.936,10.77c-.539-.324-1.073-.66-1.61-1,15.144,35.959,57.1,9.844,89.176,13.407,7.686,0,0,34.6,19.222,26.91,11.534-7.688,23.065-26.91,30.753-23.065a61.887,61.887,0,0,0,9.815,4.58C634.724,507.473,625.689,486.726,628.749,468.4Z" transform="translate(303.686 143.198)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_555-2" data-name="パス 555" d="M540.1,344.23c-2.257-1.2-1.177-3.541-4.483-.234s-2.833,7.082-6.141,9.909-6.366,6.132-9.438,7.548-4.959,0-7.079,4.488-5.9,6.608-1.653,8.5,4.715-2.122,8.022-.474,7.792,1.653,6.141,4.72-6.84,2.359-11.326,8.969-5.428,12.737-2.6,14.158,6.371-.711,12.038-3.067,14.866-13.448,16.754-17.46,5.9-3.072,3.775-7.555-1.892-3.541-4.483-5.194-4.249-.94-2.359-4.478,7.313-3.3,7.55-8.024-.713-9.677-4.718-11.8" transform="translate(342.601 155.779)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_556-2" data-name="パス 556" d="M540.1,344.23c-2.257-1.2-1.177-3.541-4.483-.234s-2.833,7.082-6.141,9.909-6.366,6.132-9.438,7.548-4.959,0-7.079,4.488-5.9,6.608-1.653,8.5,4.715-2.122,8.022-.474,7.792,1.653,6.141,4.72-6.84,2.359-11.326,8.969-5.428,12.737-2.6,14.158,6.371-.711,12.038-3.067,14.866-13.448,16.754-17.46,5.9-3.072,3.775-7.555-1.892-3.541-4.483-5.194-4.249-.94-2.359-4.478,7.313-3.3,7.55-8.024S544.1,346.354,540.1,344.23Z" transform="translate(342.601 155.779)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
    </g>
    <g id="bg" transform="translate(-1087 490)">
      <g id="長方形_119" data-name="長方形 119" transform="translate(11464 -1219)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_120" data-name="長方形 120" transform="translate(11358 -1077)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_121" data-name="長方形 121" transform="translate(11413 -1010)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_122" data-name="長方形 122" transform="translate(11343 -938)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_123" data-name="長方形 123" transform="translate(11265 -961)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_124" data-name="長方形 124" transform="translate(11259 -1047)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_125" data-name="長方形 125" transform="translate(11298 -1154)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_126" data-name="長方形 126" transform="translate(11214 -1141)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_127" data-name="長方形 127" transform="translate(11186 -1080)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
    </g>
    <g id="text" transform="translate(-1087 490)">
      <text id="新潟" transform="translate(11476 -1198)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">新潟</a></tspan></text>
      <text id="山梨" transform="translate(11425 -989)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">山梨</a></tspan></text>
      <text id="静岡" transform="translate(11355 -917)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">静岡</a></tspan></text>
      <text id="長野" transform="translate(11370 -1056)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">長野</a></tspan></text>
      <text id="愛知" transform="translate(11276 -940)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">愛知</a></tspan></text>
      <text id="岐阜" transform="translate(11271 -1026)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">岐阜</a></tspan></text>
      <text id="富山" transform="translate(11310 -1133)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">富山</a></tspan></text>
      <text id="石川" transform="translate(11226 -1120)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">石川</a></tspan></text>
      <text id="福井" transform="translate(11198 -1058)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="#" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">福井</a></tspan></text>
    </g>
  </g>
</svg>

					

					<img class="contentsMap__piece01 item--pc" src="/assets/piece01.png" alt="駒1">
					<img class="contentsMap__piece02 item--pc" src="/assets/piece02.png" alt="駒2">
					

					<div class="contentsMap__list">

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">愛知</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">岐阜</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">長野</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">静岡</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">富山</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">石川</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">福井</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">山梨</h3>
							<p class="contentsMap__item__num">(20)</p>
						</a>

                        <a class="contentsMap__item" href="#">
                            <img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
                            <h3 class="contentsMap__item__title">新潟</h3>
                            <p class="contentsMap__item__num">(20)</p>
                        </a>
						
					</div>
				</div>
				

















				<div class="contentsNewPost">
					<h2 class="contentsNewPost__head">新着店舗情報</h2>
					<div class="contentsNewPost__inner">
						
						<% @shops.first(5).each do |shop| %>
						<div class="contentsNewPost__item">
							<div class="contentsNewPost__item__head">
								<a class="contentsNewPost__item__tag" href="#">健康麻雀</a>
								<h3>
									<a class="contentsNewPost__item__title" href="/shops/<%= shop.userid %>">
										<%= link_to(shop.shopname, "/shops/#{shop.userid}") %>
									</a>
								</h3>
							</div>
							<div class="contentsNewPost__item__flex">
								<a class="contentsNewPost__item__img" href="/shops/<%= shop.userid %>">
									<img src="/assets/post_img01.png" alt=""></a>
									<p class="contentsNewPost__item__desc"><%= shop.addres1 %> <%= shop.area %>
										<br><%= shop.station %>
										<br><%= shop.topcomment %></p>
							</div>
							<div class="contentsNewPost__item__btn__inner">
								<a class="contentsNewPost__item__btn" href="/shops/<%= shop.userid %>">店舗詳細はこちら</a></div>
						</div>
						<% end %>					
						
					</div>
				</div>
			</div>


			<div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
			<div class="contentsRecommendPost">
				<h2 class="contentsRecommendPost__head">おすすめ店舗<img src="/assets/recommend_mark.svg" alt=""></h2>

				
				<% @shops.first(6).each do |shop| %>
				<div class="contentsRecommendPost__item"> <a class="contentsRecommendPost__item__tag" href="#">健康麻雀</a>
					<h3><a class="contentsRecommendPost__item__title">
						<%= link_to(shop.shopname, "/shops/#{shop.userid}") %></a>
					</h3>
					
					<div class="contentsRecommendPost__item__flex">
						<a class="contentsRecommendPost__item__img" href="/shops/<%= shop.userid %>">
							<img src="/assets/post_img01.png" alt="">
						</a>
						<p class="contentsRecommendPost__item__desc"><%= shop.addres1 %> <%= shop.area %>
							<br><%= shop.station %>
							<br><%= shop.topcomment %>
						</p>
					</div>
				</div>
				<% end %>
			</div>
		</div>

	</body>

</html>