<!doctype html>
<html lang="ja">

	

	<body class="top">


		<div class="contentsKv">
			<p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p>
			
		</div>
		
		<div class="contentsLayout">
			<div class="contentsMain">
				<div class="contentsMap">
					<h2>
						
					</h2>


<svg xmlns="http://www.w3.org/2000/svg" width="353.579" height="423.405" viewBox="0 0 353.579 423.405">
  <g id="関西" transform="translate(-10205.255 767.859)">
    <g id="グループ_180" data-name="グループ 180" transform="translate(9734.858 -1398.858)">
      <path id="パス_491" data-name="パス 491" d="M469.546,543.1c-5.512-16.523-49.565-11.014-49.565-44.059,16.519,5.509,38.547,5.509,33.045-16.519-2.933-5.862-10.529-10.176-16.183-15.415-1.821.807-4.6.751-9.587-.907-13.891-4.626-27.779-20.065-40.126-18.521-6.516.821-13.029,3.345-19.32,5.786,4.054,14.857,6.108,32.062-2.9,45.576C344.15,530.178,328.3,566.2,331.138,607.11c9.584-.893,19.365-2.012,29.753-2.012,16.976,0,20.061-10.8,37.041,0s37.041,23.15,49.385,24.694,26.238-3.082,29.323,4.629c.467,1.16.866,2.365,1.226,3.584,26.2-15.072,1.021-66.874-8.32-94.905" transform="translate(142.076 194.058)" fill="#849055"/>
      <path id="パス_492" data-name="パス 492" d="M469.546,543.1c-5.512-16.523-49.565-11.014-49.565-44.059,16.519,5.509,38.547,5.509,33.045-16.519-2.933-5.862-10.529-10.176-16.183-15.415-1.821.807-4.6.751-9.587-.907-13.891-4.626-27.779-20.065-40.126-18.521-6.516.821-13.029,3.345-19.32,5.786,4.054,14.857,6.108,32.062-2.9,45.576C344.15,530.178,328.3,566.2,331.138,607.11c9.584-.893,19.365-2.012,29.753-2.012,16.976,0,20.061-10.8,37.041,0s37.041,23.15,49.385,24.694,26.238-3.082,29.323,4.629c.467,1.16.866,2.365,1.226,3.584C504.063,622.933,478.887,571.132,469.546,543.1Z" transform="translate(142.076 194.058)" fill="#849055"/>
      <path id="パス_493" data-name="パス 493" d="M460.712,533.215c-10.567-8.985-18.313-22.53-26.048-45.742,0-4.29-10.041,1.413-19.691-1.063,7.541,23.628,11.551,47.878-5.031,57.414,2.015,6.921,1.78,14.785-7.4,22.655-10.806,9.252-35.5,20.065-41.67,37.041-.855,2.347-1.665,4.456-2.479,6.443,42.751-11.935,77.832-35.569,102.318-76.748" transform="translate(210.004 288.24)" fill="#849055"/>
      <path id="パス_495" data-name="パス 495" d="M430.693,555.83s16.523-11.014,22.032-16.519c4.068-12.191-3.878-21.38-14.958-27.575-19.237,16.295-41.688,27.392-66.818,34.406-4.965,12.354-8.964,18.625-12.953,30.591-4.633,13.891-7.714,20.061,0,33.953s27.776,18.524,26.238,33.953,7.714,29.323,16.969,29.323,12.351,3.092,15.439,12.351-1.551,18.514,21.6,15.425,30.868-16.969,32.412-29.32a52.444,52.444,0,0,1,6.2-18.922c-6.326-11.253-19.31-18.161-19.327-31.432-32.117-12.226-45.746-33.122-26.834-66.233" transform="translate(197.447 352.06)" fill="#849055"/>
      <path id="パス_496" data-name="パス 496" d="M430.693,555.83s16.523-11.014,22.032-16.519c4.068-12.191-3.878-21.38-14.958-27.575-19.237,16.295-41.688,27.392-66.818,34.406-4.965,12.354-8.964,18.625-12.953,30.591-4.633,13.891-7.714,20.061,0,33.953s27.776,18.524,26.238,33.953,7.714,29.323,16.969,29.323,12.351,3.092,15.439,12.351-1.551,18.514,21.6,15.425,30.868-16.969,32.412-29.32a52.444,52.444,0,0,1,6.2-18.922c-6.326-11.253-19.31-18.161-19.327-31.432C425.409,609.837,411.781,588.941,430.693,555.83Z" transform="translate(197.447 352.06)" fill="#849055"/>
      <path id="パス_497" data-name="パス 497" d="M467.15,517.758c-18.933-4.9-32.266-9.311-42.792-18.251a166.056,166.056,0,0,1-35.5,42.339c11.08,6.194,19.026,15.383,14.958,27.575-5.509,5.509-22.031,16.519-22.031,16.519-18.912,33.115-5.287,54.007,26.834,66.233a23.029,23.029,0,0,1,.706-5.651c5.509-5.5,16.526-16.519,27.533-11.014,5.512-22.028,22.028-38.55,33.049-55.073,9.574-19.144-5.789-42.442-2.756-62.677" transform="translate(246.356 321.95)" fill="#849055"/>
      <path id="パス_498" data-name="パス 498" d="M467.15,517.758c-18.933-4.9-32.266-9.311-42.792-18.251a166.056,166.056,0,0,1-35.5,42.339c11.08,6.194,19.026,15.383,14.958,27.575-5.509,5.509-22.031,16.519-22.031,16.519-18.912,33.115-5.287,54.007,26.834,66.233a23.029,23.029,0,0,1,.706-5.651c5.509-5.5,16.526-16.519,27.533-11.014,5.512-22.028,22.028-38.55,33.049-55.073C479.48,561.292,464.117,537.993,467.15,517.758Z" transform="translate(246.356 321.95)" fill="#849055"/>
      <path id="パス_499" data-name="パス 499" d="M439.17,583.877c15.449,46.338,30.906,54.173,68.844,63.993a29.747,29.747,0,0,1,2.756-8.916,2.341,2.341,0,0,1,1.177-1.825c-29.857-25.577-29.268-64.824-28.818-105.514a57.73,57.73,0,0,1-16.415-2.815c-8.809-4.4-13.171-13.23-15.287-23.957a6.536,6.536,0,0,1-1.163-.924c-6.177-6.173-4.633-20.065-15.436-16.973s-3.089,7.714-10.8,3.085-6.177-12.354-1.544-23.157,4.626-21.6-9.262-20.058-26.235,9.259-32.409,13.891c-3.957,2.971-4.127,7.184-7.389,8.622,5.654,5.239,13.251,9.553,16.183,15.418,5.5,22.025-16.526,22.025-33.045,16.519,0,33.042,44.053,27.533,49.565,44.056,3.431,10.294,8.988,23.794,13.351,37.491,9.653,2.476,19.691-3.227,19.691,1.063" transform="translate(205.493 191.836)" fill="#849055"/>
      <path id="パス_500" data-name="パス 500" d="M439.17,583.877c15.449,46.338,30.906,54.173,68.844,63.993a29.747,29.747,0,0,1,2.756-8.916,2.341,2.341,0,0,1,1.177-1.825c-29.857-25.577-29.268-64.824-28.818-105.514a57.73,57.73,0,0,1-16.415-2.815c-8.809-4.4-13.171-13.23-15.287-23.957a6.536,6.536,0,0,1-1.163-.924c-6.177-6.173-4.633-20.065-15.436-16.973s-3.089,7.714-10.8,3.085-6.177-12.354-1.544-23.157,4.626-21.6-9.262-20.058-26.235,9.259-32.409,13.891c-3.957,2.971-4.127,7.184-7.389,8.622,5.654,5.239,13.251,9.553,16.183,15.418,5.5,22.025-16.526,22.025-33.045,16.519,0,33.042,44.053,27.533,49.565,44.056,3.431,10.294,8.988,23.794,13.351,37.491C429.132,585.289,439.17,579.587,439.17,583.877Z" transform="translate(205.493 191.836)" fill="#849055"/>
      <path id="パス_501" data-name="パス 501" d="M476.524,460.7c-.194.187-.422.312-.613.512-23.081,18.458-53.886,36.847-82.71,35.854-.45,40.691-1.042,79.937,28.814,105.514,5.308-3.847,27.042-5.045,31.872-14.7C484.1,557.657,495.8,499.859,476.524,460.7" transform="translate(295.426 226.385)" fill="#849055"/>
      <path id="パス_502" data-name="パス 502" d="M476.524,460.7c-.194.187-.422.312-.613.512-23.081,18.458-53.886,36.847-82.71,35.854-.45,40.691-1.042,79.937,28.814,105.514,5.308-3.847,27.042-5.045,31.872-14.7C484.1,557.657,495.8,499.859,476.524,460.7Z" transform="translate(295.426 226.385)" fill="#849055"/>
      <path id="パス_505" data-name="パス 505" d="M505.583,482.664c-5.121,19.718-14.729,38.021-27.831,51.13-5.512,11.014-33.049,11.014-33.049,16.526-11.021,22.028,11.014,49.565,0,71.589-11.021,16.526-27.537,33.049-33.049,55.077-11.007-5.505-22.025,5.509-27.533,11.014-4.286,17.174,11.457,24.334,18.621,37.083,2.58-4.553,5.734-8.3,9.231-10.4,7.721-4.633,4.633-12.34,16.98-18.514s18.517-6.18,27.783-16.98,4.626-18.517,21.6-20.065,23.15-1.541,38.582-1.541,35.5,0,35.5-10.806S540.068,619,532.351,603.568s-13.888-12.34-21.609-21.609-24.691-12.344-9.255-18.517,24.691-15.432,32.408-24.694a33.684,33.684,0,0,1,10.277-8.483C538.94,519.982,535.117,508.3,531.8,496.1c-8.206,6.554-19.03-3.469-26.214-13.438" transform="translate(271.561 280.473)" fill="#849055"/>
      <path id="パス_506" data-name="パス 506" d="M505.583,482.664c-5.121,19.718-14.729,38.021-27.831,51.13-5.512,11.014-33.049,11.014-33.049,16.526-11.021,22.028,11.014,49.565,0,71.589-11.021,16.526-27.537,33.049-33.049,55.077-11.007-5.505-22.025,5.509-27.533,11.014-4.286,17.174,11.457,24.334,18.621,37.083,2.58-4.553,5.734-8.3,9.231-10.4,7.721-4.633,4.633-12.34,16.98-18.514s18.517-6.18,27.783-16.98,4.626-18.517,21.6-20.065,23.15-1.541,38.582-1.541,35.5,0,35.5-10.806S540.068,619,532.351,603.568s-13.888-12.34-21.609-21.609-24.691-12.344-9.255-18.517,24.691-15.432,32.408-24.694a33.684,33.684,0,0,1,10.277-8.483C538.94,519.982,535.117,508.3,531.8,496.1,523.591,502.656,512.767,492.632,505.583,482.664Z" transform="translate(271.561 280.473)" fill="#849055"/>
    </g>
    <g id="グループ_179" data-name="グループ 179" transform="translate(9732.858 -1405.858)">
      <path id="パス_491-2" data-name="パス 491" d="M465.594,540.379c-5.355-16.052-48.153-10.7-48.153-42.8,16.049,5.352,37.449,5.352,32.1-16.049-2.849-5.695-10.229-9.886-15.722-14.976-1.769.784-4.467.73-9.314-.881-13.5-4.494-26.988-19.493-38.983-17.993-6.331.8-12.658,3.25-18.77,5.621,3.939,14.434,5.934,31.149-2.822,44.278-20.163,30.251-35.562,65.248-32.8,104.991,9.311-.868,18.814-1.954,28.905-1.954,16.493,0,19.49-10.5,35.986,0S432.006,623.1,444,624.6s25.491-2.994,28.488,4.5c.454,1.127.841,2.3,1.191,3.482,25.451-14.643.992-64.969-8.083-92.2" transform="translate(142.076 193.969)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_492-2" data-name="パス 492" d="M465.594,540.379c-5.355-16.052-48.153-10.7-48.153-42.8,16.049,5.352,37.449,5.352,32.1-16.049-2.849-5.695-10.229-9.886-15.722-14.976-1.769.784-4.467.73-9.314-.881-13.5-4.494-26.988-19.493-38.983-17.993-6.331.8-12.658,3.25-18.77,5.621,3.939,14.434,5.934,31.149-2.822,44.278-20.163,30.251-35.562,65.248-32.8,104.991,9.311-.868,18.814-1.954,28.905-1.954,16.493,0,19.49-10.5,35.986,0S432.006,623.1,444,624.6s25.491-2.994,28.488,4.5c.454,1.127.841,2.3,1.191,3.482C499.128,617.938,474.669,567.612,465.594,540.379Z" transform="translate(142.076 193.969)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_493-2" data-name="パス 493" d="M457.8,531.865c-10.266-8.729-17.791-21.888-25.306-44.439,0-4.168-9.755,1.373-19.13-1.033,7.326,22.955,11.222,46.515-4.888,55.779,1.958,6.724,1.729,14.364-7.189,22.009-10.5,8.988-34.486,19.493-40.483,35.986-.831,2.281-1.618,4.329-2.408,6.26,41.533-11.6,75.615-34.556,99.4-74.562" transform="translate(207.283 284.379)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_495-2" data-name="パス 495" d="M428.488,554.574s16.052-10.7,21.4-16.049c3.953-11.844-3.768-20.771-14.532-26.789-18.689,15.83-40.5,26.611-64.915,33.426-4.824,12-8.709,18.094-12.584,29.719-4.5,13.5-7.495,19.49,0,32.986s26.984,18,25.491,32.986,7.495,28.488,16.486,28.488,12,3,15,12-1.507,17.986,20.987,14.986,29.988-16.486,31.489-28.485a50.95,50.95,0,0,1,6.021-18.383c-6.146-10.932-18.76-17.643-18.777-30.537-31.2-11.878-44.443-32.178-26.07-64.346" transform="translate(195.23 345.643)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_496-2" data-name="パス 496" d="M428.488,554.574s16.052-10.7,21.4-16.049c3.953-11.844-3.768-20.771-14.532-26.789-18.689,15.83-40.5,26.611-64.915,33.426-4.824,12-8.709,18.094-12.584,29.719-4.5,13.5-7.495,19.49,0,32.986s26.984,18,25.491,32.986,7.495,28.488,16.486,28.488,12,3,15,12-1.507,17.986,20.987,14.986,29.988-16.486,31.489-28.485a50.95,50.95,0,0,1,6.021-18.383c-6.146-10.932-18.76-17.643-18.777-30.537C423.355,607.043,410.115,586.742,428.488,554.574Z" transform="translate(195.23 345.643)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_497-2" data-name="パス 497" d="M464.473,517.239c-18.393-4.763-31.347-9.045-41.573-17.731a161.327,161.327,0,0,1-34.489,41.133c10.764,6.018,18.484,14.945,14.532,26.789-5.352,5.352-21.4,16.049-21.4,16.049-18.373,32.172-5.136,52.469,26.07,64.346a22.372,22.372,0,0,1,.686-5.49c5.352-5.345,16.056-16.049,26.749-10.7,5.355-21.4,21.4-37.452,32.108-53.5,9.3-18.6-5.624-41.233-2.678-60.892" transform="translate(242.18 316.739)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_498-2" data-name="パス 498" d="M464.473,517.239c-18.393-4.763-31.347-9.045-41.573-17.731a161.327,161.327,0,0,1-34.489,41.133c10.764,6.018,18.484,14.945,14.532,26.789-5.352,5.352-21.4,16.049-21.4,16.049-18.373,32.172-5.136,52.469,26.07,64.346a22.372,22.372,0,0,1,.686-5.49c5.352-5.345,16.056-16.049,26.749-10.7,5.355-21.4,21.4-37.452,32.108-53.5C476.451,559.532,461.526,536.9,464.473,517.239Z" transform="translate(242.18 316.739)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_499-2" data-name="パス 499" d="M436.817,579.969c15.009,45.018,30.025,52.63,66.883,62.17a28.9,28.9,0,0,1,2.678-8.662,2.275,2.275,0,0,1,1.144-1.773c-29.006-24.848-28.434-62.977-28-102.509a56.085,56.085,0,0,1-15.948-2.735c-8.558-4.272-12.8-12.853-14.851-23.274a6.349,6.349,0,0,1-1.13-.9c-6-6-4.5-19.493-15-16.49s-3,7.495-10.492,3-6-12-1.5-22.5,4.494-20.987-9-19.487-25.488,8.995-31.485,13.5c-3.845,2.886-4.01,6.98-7.178,8.376,5.493,5.089,12.873,9.281,15.722,14.979,5.345,21.4-16.055,21.4-32.1,16.049,0,32.1,42.8,26.749,48.153,42.8,3.333,10,8.732,23.116,12.971,36.423,9.378,2.405,19.13-3.135,19.13,1.033" transform="translate(202.953 191.836)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_500-2" data-name="パス 500" d="M436.817,579.969c15.009,45.018,30.025,52.63,66.883,62.17a28.9,28.9,0,0,1,2.678-8.662,2.275,2.275,0,0,1,1.144-1.773c-29.006-24.848-28.434-62.977-28-102.509a56.085,56.085,0,0,1-15.948-2.735c-8.558-4.272-12.8-12.853-14.851-23.274a6.349,6.349,0,0,1-1.13-.9c-6-6-4.5-19.493-15-16.49s-3,7.495-10.492,3-6-12-1.5-22.5,4.494-20.987-9-19.487-25.488,8.995-31.485,13.5c-3.845,2.886-4.01,6.98-7.178,8.376,5.493,5.089,12.873,9.281,15.722,14.979,5.345,21.4-16.055,21.4-32.1,16.049,0,32.1,42.8,26.749,48.153,42.8,3.333,10,8.732,23.116,12.971,36.423C427.065,581.341,436.817,575.8,436.817,579.969Z" transform="translate(202.953 191.836)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_501-2" data-name="パス 501" d="M474.147,460.7c-.188.182-.41.3-.6.5-22.423,17.933-52.351,35.8-80.355,34.832-.437,39.532-1.013,77.66,27.994,102.509,5.157-3.737,26.271-4.9,30.964-14.279C481.507,554.9,492.87,498.744,474.147,460.7" transform="translate(289.284 225.002)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_502-2" data-name="パス 502" d="M474.147,460.7c-.188.182-.41.3-.6.5-22.423,17.933-52.351,35.8-80.355,34.832-.437,39.532-1.013,77.66,27.994,102.509,5.157-3.737,26.271-4.9,30.964-14.279C481.507,554.9,492.87,498.744,474.147,460.7Z" transform="translate(289.284 225.002)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_505-2" data-name="パス 505" d="M502.1,482.664c-4.975,19.157-14.31,36.938-27.039,49.673-5.355,10.7-32.108,10.7-32.108,16.055-10.707,21.4,10.7,48.153,0,69.55C432.249,634,416.2,650.05,410.849,671.451c-10.693-5.348-21.4,5.352-26.749,10.7-4.164,16.684,11.131,23.641,18.091,36.026,2.506-4.424,5.57-8.06,8.968-10.1,7.5-4.5,4.5-11.989,16.5-17.986s17.99-6,26.991-16.5S459.14,655.6,475.633,654.1s22.49-1.5,37.483-1.5,34.486,0,34.486-10.5-12-26.985-19.493-41.977-13.492-11.989-20.993-20.994-23.987-11.992-8.992-17.99,23.987-14.992,31.485-23.991a32.724,32.724,0,0,1,9.984-8.241c-5.083-9.99-8.8-21.343-12.022-33.191-7.972,6.368-18.487-3.371-25.467-13.055" transform="translate(266.375 276.923)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_506-2" data-name="パス 506" d="M502.1,482.664c-4.975,19.157-14.31,36.938-27.039,49.673-5.355,10.7-32.108,10.7-32.108,16.055-10.707,21.4,10.7,48.153,0,69.55C432.249,634,416.2,650.05,410.849,671.451c-10.693-5.348-21.4,5.352-26.749,10.7-4.164,16.684,11.131,23.641,18.091,36.026,2.506-4.424,5.57-8.06,8.968-10.1,7.5-4.5,4.5-11.989,16.5-17.986s17.99-6,26.991-16.5S459.14,655.6,475.633,654.1s22.49-1.5,37.483-1.5,34.486,0,34.486-10.5-12-26.985-19.493-41.977-13.492-11.989-20.993-20.994-23.987-11.992-8.992-17.99,23.987-14.992,31.485-23.991a32.724,32.724,0,0,1,9.984-8.241c-5.083-9.99-8.8-21.343-12.022-33.191C519.6,502.087,509.082,492.348,502.1,482.664Z" transform="translate(266.375 276.923)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
    </g>
    <g id="bg" transform="translate(-1299 463)">
      <g id="長方形_128" data-name="長方形 128" transform="translate(11751 -997)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_129" data-name="長方形 129" transform="translate(11676 -990)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_130" data-name="長方形 130" transform="translate(11728 -1118)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_131" data-name="長方形 131" transform="translate(11647 -1150)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_132" data-name="長方形 132" transform="translate(11554 -1140)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_133" data-name="長方形 133" transform="translate(11627 -1071)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="パス_460" data-name="パス 460" transform="translate(11601 -920)" fill="#fff">
        <path d="M 60 29.5 L 15 29.5 C 11.12691020965576 29.5 7.485640048980713 27.99173927307129 4.746950149536133 25.25304985046387 C 2.008260011672974 22.51436042785645 0.5 18.87309074401855 0.5 15 C 0.5 11.12691020965576 2.008260011672974 7.485640048980713 4.746950149536133 4.746950149536133 C 7.485640048980713 2.008260011672974 11.12691020965576 0.5 15 0.5 L 60 0.5 C 63.87308883666992 0.5 67.51435852050781 2.008260011672974 70.2530517578125 4.746950149536133 C 72.99173736572266 7.485640048980713 74.5 11.12691020965576 74.5 15 C 74.5 18.87309074401855 72.99173736572266 22.51436042785645 70.2530517578125 25.25304985046387 C 67.51435852050781 27.99173927307129 63.87308883666992 29.5 60 29.5 Z" stroke="none"/>
        <path d="M 15 1 C 11.26047134399414 1 7.744758605957031 2.456249237060547 5.100509643554688 5.100509643554688 C 2.456253051757812 7.744760513305664 1 11.26046943664551 1 15 C 1 18.73952865600586 2.456253051757812 22.25523948669434 5.100509643554688 24.89949035644531 C 7.744758605957031 27.54375076293945 11.26047134399414 29 15 29 L 60 29 C 63.73952865600586 29 67.25524139404297 27.54375076293945 69.89949035644531 24.89949035644531 C 72.54374694824219 22.25523948669434 74 18.73952865600586 74 15 C 74 11.26046943664551 72.54374694824219 7.744760513305664 69.89949035644531 5.100509643554688 C 67.25524139404297 2.456249237060547 63.73952865600586 1 60 1 L 15 1 M 15 0 L 60 0 C 68.28427124023438 0 75 6.715730667114258 75 15 C 75 23.28426933288574 68.28427124023438 30 60 30 L 15 30 C 6.715728759765625 30 0 23.28426933288574 0 15 C 0 6.715730667114258 6.715728759765625 0 15 0 Z" stroke="none" fill="#677728"/>
      </g>
    </g>
    <g id="text" transform="translate(-1299 463)">
      <text id="三重" transform="translate(11763 -976)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=三重県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">三重</a></tspan></text>
      <text id="奈良" transform="translate(11688 -969)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=奈良県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">奈良</a></tspan></text>
      <text id="大阪" transform="translate(11639 -1050)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=大阪府" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">大阪</a></tspan></text>
      <text id="京都" transform="translate(11661 -1128)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=京都府" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">京都</a></tspan></text>
      <text id="滋賀" transform="translate(11741 -1098)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=滋賀県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">滋賀</a></tspan></text>
      <text id="和歌山" transform="translate(11616 -899)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=和歌山県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">和歌山</a></tspan></text>
      <text id="兵庫" transform="translate(11566 -1119)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0">
          <a href="/search?utf8=✓&search=兵庫県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">兵庫</a></tspan></text>
    </g>
  </g>
</svg>
					

					<img class="contentsMap__piece01 item--pc" src="/assets/piece01.png" alt="駒1">
					<img class="contentsMap__piece02 item--pc" src="/assets/piece02.png" alt="駒2">
					

					<div class="contentsMap__list">

						<a class="contentsMap__item" href="/search?utf8=✓&search=大阪府">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">大阪</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_osaka %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=京都府">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">京都</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_kyoto %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=兵庫県">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">兵庫</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_hyogo %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=奈良県">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">奈良</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_nara %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=滋賀県">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">滋賀</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_shiga %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=三重県">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">三重</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_mie %>)</p>
						</a>

						<a class="contentsMap__item" href="/search?utf8=✓&search=和歌山県">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">和歌山</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_wakayama %>)</p>
						</a>

						
						
					</div>
				</div>
				


            <%= render 'shared/new_shop' %>

      </div>


      <div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
      


            <%= render 'shared/pickup_shop' %>
		</div>

	</body>

</html>