<!doctype html>
<html lang="ja">

	

	<body class="top">


		<div class="contentsKv">
			<p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p>
			
		</div>
		
		<div class="contentsLayout">
			<div class="contentsMain">
				<div class="contentsMap">
					<h2>
						
					</h2>



<svg xmlns="http://www.w3.org/2000/svg" width="328.127" height="359.846" viewBox="0 0 328.127 359.846">
  <g id="関東" transform="translate(-10158.48 1169.062)">
    <g id="グループ_174" data-name="グループ 174" transform="translate(9432 -1746.583)">
      <path id="パス_467" data-name="パス 467" d="M714.86,525c-31.2-20.8-62.4-20.8-83.2-31.2-17.264-10.072-35.731-22.521-54.728-33.718,3.3,21.848,4.531,44.355,7.9,64.7,8.722-2.429,14.92-3.926,15.764-.559,1.455,5.832,5.822,20.4-2.916,29.144s-18.941,4.374-18.941,17.486-5.835,27.683-13.116,42.26-18.935,30.6-5.829,30.6,29.137-4.377,33.512-10.2,17.487-20.4,27.686-20.4,13.122-11.658,23.322-24.77S682.2,541.7,696.765,538.786c10.177-2.037,19.621-6.917,22.917-12.658A28.5,28.5,0,0,1,714.86,525" transform="translate(319.914 293.665)" fill="#849055"/>
      <path id="パス_468" data-name="パス 468" d="M714.86,525c-31.2-20.8-62.4-20.8-83.2-31.2-17.264-10.072-35.731-22.521-54.728-33.718,3.3,21.848,4.531,44.355,7.9,64.7,8.722-2.429,14.92-3.926,15.764-.559,1.455,5.832,5.822,20.4-2.916,29.144s-18.941,4.374-18.941,17.486-5.835,27.683-13.116,42.26-18.935,30.6-5.829,30.6,29.137-4.377,33.512-10.2,17.487-20.4,27.686-20.4,13.122-11.658,23.322-24.77S682.2,541.7,696.765,538.786c10.177-2.037,19.621-6.917,22.917-12.658A28.5,28.5,0,0,1,714.86,525Z" transform="translate(319.914 293.665)" fill="#849055"/>
      <path id="パス_469" data-name="パス 469" d="M603.646,514.47c12.125,12.125,36.8,11.671,59.413,8.431-1.533-13.838-2.818-28.108-4.946-42.149-46.732-27.575-96.681-47.576-140.033-5.914a29.423,29.423,0,0,0,7.571,8.438c3.439,6.875,9.206,13.756,17.192,20.638,18.595-.736,37.634-3.344,60.8,10.556" transform="translate(238.728 272.987)" fill="#849055"/>
      <path id="パス_471" data-name="パス 471" d="M578.628,501.251c-9.539-9.543-19.092-19.066-29.828-23.839-5.665,8.752-16.744,18.186-22.168,29.04-7.212,10.808,5.561,29.121,15.813,49.73a13.151,13.151,0,0,1,5.237-7.192c11.654-7.294,14.574-17.49,26.225-17.49s13.116,16.028,24.77,20.4,16.029,4.368,18.941-7.287,0-21.864,4.374-30.6c3.416-6.836-5.574-15.447-.621-20.269-14.391-2.265-31.341,15.11-42.744,7.506" transform="translate(253.346 333.007)" fill="#849055"/>
      <path id="パス_472" data-name="パス 472" d="M578.628,501.251c-9.539-9.543-19.092-19.066-29.828-23.839-5.665,8.752-16.744,18.186-22.168,29.04-7.212,10.808,5.561,29.121,15.813,49.73a13.151,13.151,0,0,1,5.237-7.192c11.654-7.294,14.574-17.49,26.225-17.49s13.116,16.028,24.77,20.4,16.029,4.368,18.941-7.287,0-21.864,4.374-30.6c3.416-6.836-5.574-15.447-.621-20.269C606.981,491.48,590.03,508.855,578.628,501.251Z" transform="translate(253.346 333.007)" fill="#849055"/>
      <path id="パス_473" data-name="パス 473" d="M648.826,509.166c-1.206-7.261-2.109-14.855-2.955-22.547-22.609,3.24-47.288,3.694-59.413-8.431-23.168-13.9-42.208-11.292-60.8-10.556a142.447,142.447,0,0,0,14,10.556c12.436,7.463,11.772,14.924,6.571,22.962,10.736,4.773,20.288,14.293,29.828,23.839,11.406,7.6,28.353-9.771,42.744-7.509,1.38-1.344,3.786-2.406,7.908-3.04a191.894,191.894,0,0,0,22.119-5.273" transform="translate(255.916 309.269)" fill="#849055"/>
      <path id="パス_474" data-name="パス 474" d="M648.826,509.166c-1.206-7.261-2.109-14.855-2.955-22.547-22.609,3.24-47.288,3.694-59.413-8.431-23.168-13.9-42.208-11.292-60.8-10.556a142.447,142.447,0,0,0,14,10.556c12.436,7.463,11.772,14.924,6.571,22.962,10.736,4.773,20.288,14.293,29.828,23.839,11.406,7.6,28.353-9.771,42.744-7.509,1.38-1.344,3.786-2.406,7.908-3.04A191.894,191.894,0,0,0,648.826,509.166Z" transform="translate(255.916 309.269)" fill="#849055"/>
      <path id="パス_475" data-name="パス 475" d="M608.058,412.009c-10.4-5.2-26,20.8-41.6,31.2-9.866,3.949-14.482-.346-16.99-7.185-6.819,18-18.447,33.188-40.207,33.188v20.8c10.4-5.2,26,5.2,26,10.4,0,21.926-7.32,47.517,2.834,64.362,35.79-34.4,76.089-26.748,115.354-7.522.781-.981,1.664-1.8,2.5-2.681-20.079-42.351-19.307-87.354-20.125-132.991-8.624-.981-17.794-3.871-27.761-9.569" transform="translate(218.719 183.054)" fill="#849055"/>
      <path id="パス_476" data-name="パス 476" d="M608.058,412.009c-10.4-5.2-26,20.8-41.6,31.2-9.866,3.949-14.482-.346-16.99-7.185-6.819,18-18.447,33.188-40.207,33.188v20.8c10.4-5.2,26,5.2,26,10.4,0,21.926-7.32,47.517,2.834,64.362,35.79-34.4,76.089-26.748,115.354-7.522.781-.981,1.664-1.8,2.5-2.681-20.079-42.351-19.307-87.354-20.125-132.991C627.2,420.6,618.026,417.707,608.058,412.009Z" transform="translate(218.719 183.054)" fill="#849055"/>
      <path id="パス_477" data-name="パス 477" d="M671.008,456.3c-10.4-15.6-31.194-57.2-62.4-46.794-18.876,11.324-37.781,22.583-60.636,19.965.817,45.637.046,90.64,20.125,132.994,24.244-25.623,73.065-14.825,87.312-38.566,9.186-21.429,16.562-39.275,23.2-59.867a32.975,32.975,0,0,1-7.6-7.731" transform="translate(306.562 175.165)" fill="#849055"/>
      <path id="パス_478" data-name="パス 478" d="M671.008,456.3c-10.4-15.6-31.194-57.2-62.4-46.794-18.876,11.324-37.781,22.583-60.636,19.965.817,45.637.046,90.64,20.125,132.994,24.244-25.623,73.065-14.825,87.312-38.566,9.186-21.429,16.562-39.275,23.2-59.867A32.975,32.975,0,0,1,671.008,456.3Z" transform="translate(306.562 175.165)" fill="#849055"/>
      <path id="パス_479" data-name="パス 479" d="M696.422,562.214c-1.451-17.483-13.115-37.889-5.829-61.2s13.116-24.767,21.857-46.624c5.335-13.325,14.982-21.779,23.361-30.965-26.081,5.558-51.645,18.082-69.433,5.276-6.643,20.592-14.018,38.438-23.2,59.868-14.74,24.564-66.582,12.024-89.812,41.24,27.624,13.531,54.738,32.766,79.407,47.157,20.8,10.4,52,10.4,83.2,31.2A28.151,28.151,0,0,0,720.8,609.3a7.8,7.8,0,0,0,.4-7.741c-4.374-8.741-23.315-21.854-24.773-39.341" transform="translate(318.795 210.497)" fill="#849055"/>
      <path id="パス_480" data-name="パス 480" d="M696.422,562.214c-1.451-17.483-13.115-37.889-5.829-61.2s13.116-24.767,21.857-46.624c5.335-13.325,14.982-21.779,23.361-30.965-26.081,5.558-51.645,18.082-69.433,5.276-6.643,20.592-14.018,38.438-23.2,59.868-14.74,24.564-66.582,12.024-89.812,41.24,27.624,13.531,54.738,32.766,79.407,47.157,20.8,10.4,52,10.4,83.2,31.2A28.151,28.151,0,0,0,720.8,609.3a7.8,7.8,0,0,0,.4-7.741C716.822,592.813,697.881,579.7,696.422,562.214Z" transform="translate(318.795 210.497)" fill="#849055"/>
    </g>
    <g id="グループ_173" data-name="グループ 173" transform="translate(9431 -1751.583)">
      <path id="パス_467-2" data-name="パス 467" d="M710.916,523.406c-30.439-20.3-60.872-20.3-81.164-30.439C612.911,483.141,594.9,471,576.364,460.075c3.218,21.312,4.42,43.269,7.708,63.111,8.508-2.369,14.555-3.83,15.378-.545,1.419,5.689,5.679,19.9-2.845,28.431s-18.477,4.267-18.477,17.058-5.692,27-12.795,41.225S546.862,639.2,559.647,639.2s28.424-4.27,32.691-9.95,17.058-19.9,27.008-19.9,12.8-11.372,22.751-24.163,36.958-45.492,51.168-48.333c9.927-1.987,19.141-6.748,22.355-12.348a27.8,27.8,0,0,1-4.7-1.1" transform="translate(316.343 289.483)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_468-2" data-name="パス 468" d="M710.916,523.406c-30.439-20.3-60.872-20.3-81.164-30.439C612.911,483.141,594.9,471,576.364,460.075c3.218,21.312,4.42,43.269,7.708,63.111,8.508-2.369,14.555-3.83,15.378-.545,1.419,5.689,5.679,19.9-2.845,28.431s-18.477,4.267-18.477,17.058-5.692,27-12.795,41.225S546.862,639.2,559.647,639.2s28.424-4.27,32.691-9.95,17.058-19.9,27.008-19.9,12.8-11.372,22.751-24.163,36.958-45.492,51.168-48.333c9.927-1.987,19.141-6.748,22.355-12.348A27.8,27.8,0,0,1,710.916,523.406Z" transform="translate(316.343 289.483)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_469-2" data-name="パス 469" d="M601.55,512.915c11.828,11.828,35.9,11.385,57.958,8.224-1.5-13.5-2.749-27.419-4.825-41.116-45.587-26.9-94.313-46.41-136.6-5.769a28.7,28.7,0,0,0,7.386,8.231c3.355,6.707,8.98,13.419,16.771,20.132,18.139-.718,36.712-3.262,59.313,10.3" transform="translate(238.022 269.535)" fill="#b2e340"/>
      <path id="パス_471-2" data-name="パス 471" d="M577.3,500.667c-9.306-9.309-18.624-18.6-29.1-23.255-5.527,8.537-16.334,17.741-21.625,28.328-7.035,10.543,5.425,28.408,15.426,48.512a12.828,12.828,0,0,1,5.109-7.016c11.369-7.115,14.217-17.061,25.583-17.061s12.795,15.636,24.163,19.9,15.636,4.261,18.477-7.108,0-21.328,4.267-29.853c3.333-6.668-5.437-15.068-.606-19.772-14.038-2.21-30.573,14.74-41.7,7.322" transform="translate(252.124 327.437)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_472-2" data-name="パス 472" d="M577.3,500.667c-9.306-9.309-18.624-18.6-29.1-23.255-5.527,8.537-16.334,17.741-21.625,28.328-7.035,10.543,5.425,28.408,15.426,48.512a12.828,12.828,0,0,1,5.109-7.016c11.369-7.115,14.217-17.061,25.583-17.061s12.795,15.636,24.163,19.9,15.636,4.261,18.477-7.108,0-21.328,4.267-29.853c3.333-6.668-5.437-15.068-.606-19.772C604.961,491.135,588.426,508.085,577.3,500.667Z" transform="translate(252.124 327.437)" fill="#b5c672" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_473-2" data-name="パス 473" d="M645.809,508.132c-1.177-7.083-2.057-14.491-2.883-21.995-22.055,3.161-46.129,3.6-57.958-8.224-22.6-13.563-41.174-11.015-59.313-10.3a138.955,138.955,0,0,0,13.658,10.3c12.131,7.281,11.484,14.558,6.41,22.4,10.473,4.656,19.791,13.943,29.1,23.255,11.127,7.418,27.659-9.532,41.7-7.325,1.346-1.311,3.693-2.347,7.714-2.966a187.194,187.194,0,0,0,21.577-5.144" transform="translate(254.603 304.537)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_474-2" data-name="パス 474" d="M645.809,508.132c-1.177-7.083-2.057-14.491-2.883-21.995-22.055,3.161-46.129,3.6-57.958-8.224-22.6-13.563-41.174-11.015-59.313-10.3a138.955,138.955,0,0,0,13.658,10.3c12.131,7.281,11.484,14.558,6.41,22.4,10.473,4.656,19.791,13.943,29.1,23.255,11.127,7.418,27.659-9.532,41.7-7.325,1.346-1.311,3.693-2.347,7.714-2.966A187.194,187.194,0,0,0,645.809,508.132Z" transform="translate(254.603 304.537)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_475-2" data-name="パス 475" d="M605.638,411.992c-10.147-5.074-25.359,20.289-40.581,30.433-9.625,3.853-14.127-.338-16.574-7.009-6.652,17.559-18,32.375-39.222,32.375v20.292c10.141-5.074,25.359,5.071,25.359,10.144,0,21.389-7.14,46.353,2.765,62.786,34.914-33.555,74.225-26.093,112.529-7.338.762-.957,1.623-1.754,2.436-2.615-19.587-41.314-18.834-85.214-19.632-129.734-8.413-.957-17.358-3.776-27.082-9.334" transform="translate(218.719 182.775)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_476-2" data-name="パス 476" d="M605.638,411.992c-10.147-5.074-25.359,20.289-40.581,30.433-9.625,3.853-14.127-.338-16.574-7.009-6.652,17.559-18,32.375-39.222,32.375v20.292c10.141-5.074,25.359,5.071,25.359,10.144,0,21.389-7.14,46.353,2.765,62.786,34.914-33.555,74.225-26.093,112.529-7.338.762-.957,1.623-1.754,2.436-2.615-19.587-41.314-18.834-85.214-19.632-129.734C624.307,420.37,615.361,417.551,605.638,411.992Z" transform="translate(218.719 182.775)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_477-2" data-name="パス 477" d="M667.995,455.11c-10.145-15.215-30.43-55.8-60.87-45.648-18.413,11.047-36.856,22.03-59.151,19.476.8,44.519.045,88.42,19.632,129.737,23.65-25,71.276-14.462,85.173-37.621,8.961-20.9,16.156-38.313,22.633-58.4a32.166,32.166,0,0,1-7.418-7.542" transform="translate(303.462 175.165)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_478-2" data-name="パス 478" d="M667.995,455.11c-10.145-15.215-30.43-55.8-60.87-45.648-18.413,11.047-36.856,22.03-59.151,19.476.8,44.519.045,88.42,19.632,129.737,23.65-25,71.276-14.462,85.173-37.621,8.961-20.9,16.156-38.313,22.633-58.4A32.166,32.166,0,0,1,667.995,455.11Z" transform="translate(303.462 175.165)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_479-2" data-name="パス 479" d="M692.919,558.814c-1.416-17.055-12.794-36.961-5.686-59.7s12.794-24.16,21.322-45.482c5.2-13,14.615-21.245,22.789-30.207-25.442,5.421-50.38,17.639-67.732,5.147-6.48,20.088-13.675,37.5-22.633,58.4C626.6,510.934,576.027,498.7,553.366,527.2c26.947,13.2,53.4,31.964,77.462,46,20.3,10.144,50.728,10.144,81.164,30.439a27.462,27.462,0,0,0,4.7,1.1,7.613,7.613,0,0,0,.389-7.552c-4.267-8.527-22.744-21.319-24.167-38.377" transform="translate(315.264 209.25)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_480-2" data-name="パス 480" d="M692.919,558.814c-1.416-17.055-12.794-36.961-5.686-59.7s12.794-24.16,21.322-45.482c5.2-13,14.615-21.245,22.789-30.207-25.442,5.421-50.38,17.639-67.732,5.147-6.48,20.088-13.675,37.5-22.633,58.4C626.6,510.934,576.027,498.7,553.366,527.2c26.947,13.2,53.4,31.964,77.462,46,20.3,10.144,50.728,10.144,81.164,30.439a27.462,27.462,0,0,0,4.7,1.1,7.613,7.613,0,0,0,.389-7.552C712.819,588.664,694.341,575.872,692.919,558.814Z" transform="translate(315.264 209.25)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
    </g>
    <g id="bg" transform="translate(-745 46)">
      <g id="長方形_113" data-name="長方形 113" transform="translate(11116 -1081)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_114" data-name="長方形 114" transform="translate(11053 -1154)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_115" data-name="長方形 115" transform="translate(10947 -1139)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_116" data-name="長方形 116" transform="translate(10979 -1065)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_117" data-name="長方形 117" transform="translate(10990 -1013)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_118" data-name="長方形 118" transform="translate(11090 -963)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="パス_458" data-name="パス 458" transform="translate(10963 -974)" fill="#fff">
        <path d="M 60 29.5 L 15 29.5 C 11.12691020965576 29.5 7.485640048980713 27.99173927307129 4.746950149536133 25.25304985046387 C 2.008260011672974 22.51436042785645 0.5 18.87309074401855 0.5 15 C 0.5 11.12691020965576 2.008260011672974 7.485640048980713 4.746950149536133 4.746950149536133 C 7.485640048980713 2.008260011672974 11.12691020965576 0.5 15 0.5 L 60 0.5 C 63.87308883666992 0.5 67.51435852050781 2.008260011672974 70.2530517578125 4.746950149536133 C 72.99173736572266 7.485640048980713 74.5 11.12691020965576 74.5 15 C 74.5 18.87309074401855 72.99173736572266 22.51436042785645 70.2530517578125 25.25304985046387 C 67.51435852050781 27.99173927307129 63.87308883666992 29.5 60 29.5 Z" stroke="none"/>
        <path d="M 15 1 C 11.26047134399414 1 7.744758605957031 2.456249237060547 5.100509643554688 5.100509643554688 C 2.456253051757812 7.744760513305664 1 11.26046943664551 1 15 C 1 18.73952865600586 2.456253051757812 22.25523948669434 5.100509643554688 24.89949035644531 C 7.744758605957031 27.54375076293945 11.26047134399414 29 15 29 L 60 29 C 63.73952865600586 29 67.25524139404297 27.54375076293945 69.89949035644531 24.89949035644531 C 72.54374694824219 22.25523948669434 74 18.73952865600586 74 15 C 74 11.26046943664551 72.54374694824219 7.744760513305664 69.89949035644531 5.100509643554688 C 67.25524139404297 2.456249237060547 63.73952865600586 1 60 1 L 15 1 M 15 0 L 60 0 C 68.28427124023438 0 75 6.715730667114258 75 15 C 75 23.28426933288574 68.28427124023438 30 60 30 L 15 30 C 6.715728759765625 30 0 23.28426933288574 0 15 C 0 6.715730667114258 6.715728759765625 0 15 0 Z" stroke="none" fill="#677728"/>
      </g>
    </g>
    <g id="text" transform="translate(-745 46)">
      <text id="茨城" transform="translate(11128 -1060)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=茨城県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">茨城</a></tspan></text>
      <text id="栃木" transform="translate(11067 -1133)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=栃木県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">栃木</a></tspan></text>
      <text id="群馬" transform="translate(10959 -1118)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=群馬県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">群馬</a></tspan></text>
      <text id="埼玉" transform="translate(10991 -1043)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=埼玉県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">埼玉</a></tspan></text>
      <text id="東京" transform="translate(11002 -991)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=東京都" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">東京</a></tspan></text>
      <text id="千葉" transform="translate(11101 -942)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=千葉県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">千葉</a></tspan></text>
      <text id="神奈川" transform="translate(10978 -952)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP">
        <tspan x="0" y="0"><a href="/search?utf8=✓&search=神奈川県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">神奈川</a></tspan></text>
    </g>
  </g>
</svg>

					

					<img class="contentsMap__piece01 item--pc" src="/assets/piece01.png" alt="駒1">
					<img class="contentsMap__piece02 item--pc" src="/assets/piece02.png" alt="駒2">
					

					<div class="contentsMap__list">

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">東京</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_tokyo %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">神奈川</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_kanagawa %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">千葉</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_chiba %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">埼玉</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_saitama %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">群馬</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_gunma %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">茨城</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_ibaraki %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">栃木</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_tochigi %>)</p>
						</a>

						
						
					</div>
				</div>
				
            <%= render 'shared/new_shop' %>

      </div>


      <div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
      


            <%= render 'shared/pickup_shop' %>
		</div>

	</body>

</html>