<h2>Home#Member_inquiry</h2>

<div class="contentsMain">
  <%= form_tag("/member_inquiry_create") do %>
  <div class="contentsDetails">
    <h2 class="contentsDetails__head">お問合せ</h2>
    <% @sender.errors.full_messages.each do |message| %>
    <%= message %><br>
    <% end %>
    <table class="contentsDetails__table">
      <tr><th>店舗名</th><td><%= @shop.shopname %></td></tr>
	  <tr><th>担当者名</th><td><%= @shop.name %></td></tr>
	  <tr><th>メールアドレス</th><td><%= @shop.mail %></td></tr>
	  <tr><th>問合せ内容<br>※電話連絡をご希望の場合はこちらに記入願います</th><td style="height: 150px;"><textarea name="question" value="<%= @sender.question %>" style="width: 100%; height: 100%;"></textarea></td></tr>
	</table>
  </div>
  <input type="submit" name="" value="送信">
  <% end %>
</div>

