<!doctype html>
<html lang="ja">

	

	<body class="top">


		<div class="contentsKv">
			<p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p>
			
		</div>
		
		<div class="contentsLayout">
			<div class="contentsMain">
				<div class="contentsMap">
					<h2>
						
					</h2>



 <svg xmlns="http://www.w3.org/2000/svg" width="440.354" height="303.6" viewBox="0 0 440.354 303.6">
  <g id="四国" transform="translate(-10559.835 753.859)">
    <g id="グループ_186" data-name="グループ 186" transform="translate(10231.283 -1465.858)">
      <path id="パス_533" data-name="パス 533" d="M463.543,560.495a76.812,76.812,0,0,0-6.034-7.723c-12.6-14.407-18.006-5.408-23.406-18.006s-9-27-27-27-41.408-7.2-57.608,3.6-18,18-28.8,14.407-28.814-9.007-27.013,3.591c1.64,11.447,18.018,24.343,8.922,32.017,5.412,4.184,14.011,5.182,20.364,8.437.077-.089.141-.19.222-.271,44.74-11.184,94.346-2.908,140.354-9.051" transform="translate(292.339 217.064)" fill="#849055"/>
      <path id="パス_534" data-name="パス 534" d="M463.543,560.495a76.812,76.812,0,0,0-6.034-7.723c-12.6-14.407-18.006-5.408-23.406-18.006s-9-27-27-27-41.408-7.2-57.608,3.6-18,18-28.8,14.407-28.814-9.007-27.013,3.591c1.64,11.447,18.018,24.343,8.922,32.017,5.412,4.184,14.011,5.182,20.364,8.437.077-.089.141-.19.222-.271C367.929,558.362,417.535,566.638,463.543,560.495Z" transform="translate(292.339 217.064)" fill="#849055"/>
      <path id="パス_535" data-name="パス 535" d="M492.712,554.053c-16.2,7.2-25.2,7.2-41.408,7.2s-41.408,8.995-48.6-1.8-3.6-23.41-10.808-37.809-21.6-16.188-28.8-8.995-14.411,36-28.814,48.6-16.2,30.6-30.6,34.206-73.562,19.981-73.562,19.981c-3.6,12.6,28.325,7.508,33.729,27.312s12.832,30.127,7.428,39.125-21.6,25.207-19.8,39.606,3.6,19.8,14.4,25.2c10.231,5.122,9.164-2.649,13.611,11.79,24.961-44.865-6.434-102.04,63.864-95.651-6.426-12.844,0-25.7,6.418-32.122h25.7c25.7-51.392,77.1-44.97,128.488-44.97,6.345,0,6.438-18.781,12.634-25.43-6.353-3.255-14.952-4.253-20.365-8.437a14.281,14.281,0,0,1-3.518,2.189" transform="translate(98.712 226.58)" fill="#849055"/>
      <path id="パス_536" data-name="パス 536" d="M492.712,554.053c-16.2,7.2-25.2,7.2-41.408,7.2s-41.408,8.995-48.6-1.8-3.6-23.41-10.808-37.809-21.6-16.188-28.8-8.995-14.411,36-28.814,48.6-16.2,30.6-30.6,34.206-73.562,19.981-73.562,19.981c-3.6,12.6,28.325,7.508,33.729,27.312s12.832,30.127,7.428,39.125-21.6,25.207-19.8,39.606,3.6,19.8,14.4,25.2c10.231,5.122,9.164-2.649,13.611,11.79,24.961-44.865-6.434-102.04,63.864-95.651-6.426-12.844,0-25.7,6.418-32.122h25.7c25.7-51.392,77.1-44.97,128.488-44.97,6.345,0,6.438-18.781,12.634-25.43-6.353-3.255-14.952-4.253-20.365-8.437A14.281,14.281,0,0,1,492.712,554.053Z" transform="translate(98.712 226.58)" fill="#849055"/>
      <path id="パス_537" data-name="パス 537" d="M470.125,527c-.949,1.616-2.064,2.633-3.522,2.633-51.392,0-102.784-6.418-128.492,44.97h-25.7c-6.418,6.43-12.848,19.282-6.418,32.122-70.3-6.39-38.907,50.786-63.864,95.655.242.808.5,1.66.788,2.609,5.4,18.006,5.4,25.211,23.406,25.211s36.011,7.2,43.2-1.805,23.406-63,34.206-68.408,28.81-28.806,50.406-32.4,55.237-28.439,66.037-17.647,32.974,35.648,40.176,42.85,23.41,18.006,30.607,3.6c5.667-11.333,18.026-22.618,30.93-31.322-22.873-39.489-56.566-74.269-91.769-98.062" transform="translate(136.069 282.673)" fill="#849055"/>
      <path id="パス_538" data-name="パス 538" d="M470.125,527c-.949,1.616-2.064,2.633-3.522,2.633-51.392,0-102.784-6.418-128.492,44.97h-25.7c-6.418,6.43-12.848,19.282-6.418,32.122-70.3-6.39-38.907,50.786-63.864,95.655.242.808.5,1.66.788,2.609,5.4,18.006,5.4,25.211,23.406,25.211s36.011,7.2,43.2-1.805,23.406-63,34.206-68.408,28.81-28.806,50.406-32.4,55.237-28.439,66.037-17.647,32.974,35.648,40.176,42.85,23.41,18.006,30.607,3.6c5.667-11.333,18.026-22.618,30.93-31.322C539.022,585.573,505.328,550.793,470.125,527Z" transform="translate(136.069 282.673)" fill="#849055"/>
      <path id="パス_539" data-name="パス 539" d="M460.234,585.135c-3.6-16.2-14.4-37.8-10.8-46.8,2.847-7.109,4.443-10.933-1.163-19.282-46.008,6.139-95.615-2.136-140.354,9.052-4.972,4.964-6.107,17.582-9.33,23.062,35.2,23.79,68.893,58.573,91.765,98.062,3.5-2.363,7.024-4.564,10.481-6.482,16.2-9,21.6-30.6,39.606-36s23.4-5.4,19.8-21.608" transform="translate(307.617 258.51)" fill="#849055"/>
      <path id="パス_540" data-name="パス 540" d="M460.234,585.135c-3.6-16.2-14.4-37.8-10.8-46.8,2.847-7.109,4.443-10.933-1.163-19.282-46.008,6.139-95.615-2.136-140.354,9.052-4.972,4.964-6.107,17.582-9.33,23.062,35.2,23.79,68.893,58.573,91.765,98.062,3.5-2.363,7.024-4.564,10.481-6.482,16.2-9,21.6-30.6,39.606-36S463.836,601.339,460.234,585.135Z" transform="translate(307.617 258.51)" fill="#849055"/>
    </g>
    <g id="グループ_185" data-name="グループ 185" transform="translate(10233 -1475.858)">
      <path id="パス_533-2" data-name="パス 533" d="M458.634,558.9a74.594,74.594,0,0,0-5.86-7.5c-12.238-13.991-17.486-5.252-22.73-17.486s-8.743-26.225-26.221-26.225-40.212-6.994-55.944,3.5-17.482,17.482-27.97,13.991-27.982-8.747-26.233,3.487c1.592,11.116,17.5,23.64,8.664,31.093,5.256,4.063,13.607,5.032,19.776,8.194.075-.086.137-.184.216-.263,43.448-10.861,91.622-2.824,136.3-8.79" transform="translate(284.907 217.064)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_534-2" data-name="パス 534" d="M458.634,558.9a74.594,74.594,0,0,0-5.86-7.5c-12.238-13.991-17.486-5.252-22.73-17.486s-8.743-26.225-26.221-26.225-40.212-6.994-55.944,3.5-17.482,17.482-27.97,13.991-27.982-8.747-26.233,3.487c1.592,11.116,17.5,23.64,8.664,31.093,5.256,4.063,13.607,5.032,19.776,8.194.075-.086.137-.184.216-.263C365.781,556.833,413.955,564.87,458.634,558.9Z" transform="translate(284.907 217.064)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_535-2" data-name="パス 535" d="M485.121,552.739c-15.736,6.994-24.475,6.994-40.212,6.994s-40.212,8.735-47.2-1.745-3.5-22.734-10.5-36.717-20.977-15.721-27.966-8.735-13.995,34.956-27.982,47.2-15.729,29.719-29.716,33.218-71.437,19.4-71.437,19.4c-3.5,12.234,27.507,7.292,32.755,26.523s12.461,29.257,7.213,38-20.98,24.479-19.231,38.462,3.495,19.231,13.987,24.471c9.935,4.974,8.9-2.573,13.218,11.449,24.24-43.569-6.248-99.094,62.02-92.889-6.24-12.473,0-24.954,6.233-31.194h24.958C396.229,577.265,446.14,583.5,496.044,583.5c6.162,0,6.252-18.239,12.269-24.7-6.17-3.161-14.52-4.13-19.776-8.194a13.87,13.87,0,0,1-3.416,2.126" transform="translate(98.712 226.214)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_536-2" data-name="パス 536" d="M485.121,552.739c-15.736,6.994-24.475,6.994-40.212,6.994s-40.212,8.735-47.2-1.745-3.5-22.734-10.5-36.717-20.977-15.721-27.966-8.735-13.995,34.956-27.982,47.2-15.729,29.719-29.716,33.218-71.437,19.4-71.437,19.4c-3.5,12.234,27.507,7.292,32.755,26.523s12.461,29.257,7.213,38-20.98,24.479-19.231,38.462,3.495,19.231,13.987,24.471c9.935,4.974,8.9-2.573,13.218,11.449,24.24-43.569-6.248-99.094,62.02-92.889-6.24-12.473,0-24.954,6.233-31.194h24.958C396.229,577.265,446.14,583.5,496.044,583.5c6.162,0,6.252-18.239,12.269-24.7-6.17-3.161-14.52-4.13-19.776-8.194A13.87,13.87,0,0,1,485.121,552.739Z" transform="translate(98.712 226.214)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_537-2" data-name="パス 537" d="M463.54,527c-.922,1.569-2,2.557-3.42,2.557-49.908,0-99.815-6.232-124.781,43.671H310.385c-6.232,6.244-12.477,18.725-6.232,31.194-68.268-6.205-37.784,49.319-62.02,92.893.235.784.49,1.612.765,2.534,5.248,17.486,5.248,24.483,22.73,24.483s34.971,6.994,41.957-1.753,22.73-61.185,33.218-66.432,27.978-27.974,48.951-31.469,53.642-27.617,64.13-17.137,32.022,34.618,39.016,41.612,22.734,17.486,29.723,3.495c5.5-11.006,17.505-21.965,30.037-30.418-22.212-38.349-54.932-72.124-89.119-95.23" transform="translate(134.635 280.155)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_538-2" data-name="パス 538" d="M463.54,527c-.922,1.569-2,2.557-3.42,2.557-49.908,0-99.815-6.232-124.781,43.671H310.385c-6.232,6.244-12.477,18.725-6.232,31.194-68.268-6.205-37.784,49.319-62.02,92.893.235.784.49,1.612.765,2.534,5.248,17.486,5.248,24.483,22.73,24.483s34.971,6.994,41.957-1.753,22.73-61.185,33.218-66.432,27.978-27.974,48.951-31.469,53.642-27.617,64.13-17.137,32.022,34.618,39.016,41.612,22.734,17.486,29.723,3.495c5.5-11.006,17.505-21.965,30.037-30.418C530.448,583.882,497.728,550.106,463.54,527Z" transform="translate(134.635 280.155)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_539-2" data-name="パス 539" d="M455.565,583.226c-3.495-15.737-13.983-36.709-10.492-45.452,2.765-6.9,4.315-10.618-1.13-18.725-44.679,5.962-92.853-2.075-136.3,8.79-4.828,4.82-5.931,17.074-9.061,22.4,34.183,23.1,66.9,56.882,89.115,95.23,3.4-2.295,6.821-4.432,10.178-6.3,15.732-8.739,20.977-29.716,38.462-34.96s22.726-5.248,19.227-20.984" transform="translate(299.599 256.92)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_540-2" data-name="パス 540" d="M455.565,583.226c-3.495-15.737-13.983-36.709-10.492-45.452,2.765-6.9,4.315-10.618-1.13-18.725-44.679,5.962-92.853-2.075-136.3,8.79-4.828,4.82-5.931,17.074-9.061,22.4,34.183,23.1,66.9,56.882,89.115,95.23,3.4-2.295,6.821-4.432,10.178-6.3,15.732-8.739,20.977-29.716,38.462-34.96S459.064,598.962,455.565,583.226Z" transform="translate(299.599 256.92)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
    </g>
    <g id="bg" transform="translate(-689 209)">
      <g id="長方形_139" data-name="長方形 139" transform="translate(11579 -880)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_140" data-name="長方形 140" transform="translate(11545 -943)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_141" data-name="長方形 141" transform="translate(11425 -842)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_142" data-name="長方形 142" transform="translate(11315 -862)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
    </g>
    <g id="text" transform="translate(-689 209)">
      <text id="徳島" transform="translate(11592 -859)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=徳島県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">徳島</a></tspan></text></tspan></text>
      <text id="香川" transform="translate(11558 -922)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=香川県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">香川</a></tspan></text></tspan></text>
      <text id="高知" transform="translate(11437 -821)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=高知県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">高知</a></tspan></text></tspan></text>
      <text id="愛媛" transform="translate(11326 -841)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=愛媛県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">愛媛</a></tspan></text></tspan></text>
    </g>
  </g>
</svg>
					

					<img class="contentsMap__piece01 item--pc" src="/assets/piece01.png" alt="駒1">
					<img class="contentsMap__piece02 item--pc" src="/assets/piece02.png" alt="駒2">
					

					<div class="contentsMap__list">

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">徳島</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_tokushima %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">香川</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_kagawa %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">高知</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_kochi %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">愛媛</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_ehime %>)</p>
						</a>

						
						
					</div>
				</div>
				


            <%= render 'shared/new_shop' %>

			</div>


			<div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
			


            <%= render 'shared/pickup_shop' %>
		</div>

	</body>

</html>