<!doctype html>
<html lang="ja">

	

	<body class="top">


		<div class="contentsKv">
			<p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p>
			
		</div>
		
		<div class="contentsLayout">
			<div class="contentsMain">
				<div class="contentsMap">
					<h2>
						
					</h2>



 <svg xmlns="http://www.w3.org/2000/svg" width="244.595" height="449.231" viewBox="0 0 244.595 449.231">
  <g id="東北" transform="translate(-9894.021 1265.985)">
    <g id="グループ_170" data-name="グループ 170" transform="translate(9120.08 -1544.858)">
      <path id="パス_465" data-name="パス 465" d="M724.393,313.672c-1.511-6.4-4.669-12.826-9.545-17-6.048-5.187-12.961-27.658-10.371-33.708s6.915-38.9,11.233-45.809c3.7-5.912,5.187-8.645-4.318-8.645s-12.1,6.048-19.878,1.728-8.643-4.322-11.237-8.643-11.239-7.78-16.423-6.05-5.189,5.185-2.595,11.235,6.052,8.645,4.324,14.693-9.508,12.1-4.324,13.828,12.965-.861,18.152-1.726,16.419-3.46,15.556,3.458,3.461,12.963-3.454,16.421-7.782,6.917-12.967,4.322-7.776-3.458-12.963-2.593-8.641,6.913-12.1,0-2.595-19.015-3.462-23.336-2.589-8.645-7.774-8.645-12.1-4.322-17.288-2.593-6.05,4.322-3.46,12.1-2.593,19.015-8.643,22.473-24.2,12.963-24.2,23.336,6.048,13.83,6.048,23.338c0,1.625-.072,3.116-.182,4.551,27.092.361,56.73,6.508,77.673,18.474,13.409,10.727,31.484-6.523,52.195-11.208" transform="translate(276.397 83.786)" fill="#849055"/>
      <path id="パス_523" data-name="パス 523" d="M684.828,399.476c-3.4-6.81-5.119-16.948-3.514-20.551-11.763,1.714-20.425-11.193-33.528-8.573-12.337,3.085-18.507,6.168-15.424,21.591-12.337,3.085-12.337-3.085-21.591-9.254-2.507-5.017-13.177-1.871-20.39-5.505a117.419,117.419,0,0,1-16.621,14.759c0,3.085,0,12.339-6.17,15.422-9.254,0-24.676-9.254-24.676,0-2.453,14.7,4.794,31.35,1.7,46.858,17.6,6.329,31.085-1.757,44.562-9.843,18.509-6.17,30.844,18.505,37.013,27.759,10.419,14.583,27.864,5.257,45.7,1.458,3.186-3.491,6.068-7.159,7.751-11.887,4.326-12.1,7.778-21.608,7.778-36.3s.869-19.019-2.591-25.93" transform="translate(232.949 248.057)" fill="#849055"/>
      <path id="パス_524" data-name="パス 524" d="M684.828,399.476c-3.4-6.81-5.119-16.948-3.514-20.551-11.763,1.714-20.425-11.193-33.528-8.573-12.337,3.085-18.507,6.168-15.424,21.591-12.337,3.085-12.337-3.085-21.591-9.254-2.507-5.017-13.177-1.871-20.39-5.505a117.419,117.419,0,0,1-16.621,14.759c0,3.085,0,12.339-6.17,15.422-9.254,0-24.676-9.254-24.676,0-2.453,14.7,4.794,31.35,1.7,46.858,17.6,6.329,31.085-1.757,44.562-9.843,18.509-6.17,30.844,18.505,37.013,27.759,10.419,14.583,27.864,5.257,45.7,1.458,3.186-3.491,6.068-7.159,7.751-11.887,4.326-12.1,7.778-21.608,7.778-36.3S688.288,406.387,684.828,399.476Z" transform="translate(232.949 248.057)" fill="#849055"/>
      <path id="パス_525" data-name="パス 525" d="M630.415,384.9c9.874-14.811,19.706-33.577,15.351-53.131-5.319-.681-10.495-1.42-15.351-2.389,3.081-6.168-6.172-6.168-6.172-12.339-10.262,2.054-20.52-2.709-30.782-5.226a113.632,113.632,0,0,1-8.608,16.114c-4.16,6.238-11.09,19.136-15.013,25.785a252.208,252.208,0,0,1,14.307,37.354c-21.593,3.083-21.593,21.591-18.506,37.015,6.169,9.252,21.591,3.083,24.672,9.252,9.256,6.169,9.256,12.339,21.593,9.254-1.98-9.909-.126-14.714,4.712-17.708-3.378-15.655,2.692-27.325,13.8-43.98" transform="translate(253.407 193.413)" fill="#849055"/>
      <path id="パス_526" data-name="パス 526" d="M630.415,384.9c9.874-14.811,19.706-33.577,15.351-53.131-5.319-.681-10.495-1.42-15.351-2.389,3.081-6.168-6.172-6.168-6.172-12.339-10.262,2.054-20.52-2.709-30.782-5.226a113.632,113.632,0,0,1-8.608,16.114c-4.16,6.238-11.09,19.136-15.013,25.785a252.208,252.208,0,0,1,14.307,37.354c-21.593,3.083-21.593,21.591-18.506,37.015,6.169,9.252,21.591,3.083,24.672,9.252,9.256,6.169,9.256,12.339,21.593,9.254-1.98-9.909-.126-14.714,4.712-17.708C613.24,413.226,619.309,401.556,630.415,384.9Z" transform="translate(253.407 193.413)" fill="#849055"/>
      <path id="パス_527" data-name="パス 527" d="M693.132,346.943C676.2,327.307,646.619,325.412,620.82,322.1c4.355,19.555-5.476,38.322-15.35,53.133-11.106,16.655-17.175,28.325-13.8,43.98,2.7-1.664,6.3-2.781,10.712-3.882,13.1-2.62,21.765,10.287,33.528,8.571.025-.052.033-.14.056-.19,1.73-3.456,0-21.612,10.373-27.66s19.884-14.695,25.066-17.288,4.319-5.185,6.048,3.459-.861,18.147,6.915,14.693,6.915-4.321,8.641-11.236c1.274-5.079-2.1-25.054.12-38.743" transform="translate(278.351 203.076)" fill="#849055"/>
      <path id="パス_528" data-name="パス 528" d="M693.132,346.943C676.2,327.307,646.619,325.412,620.82,322.1c4.355,19.555-5.476,38.322-15.35,53.133-11.106,16.655-17.175,28.325-13.8,43.98,2.7-1.664,6.3-2.781,10.712-3.882,13.1-2.62,21.765,10.287,33.528,8.571.025-.052.033-.14.056-.19,1.73-3.456,0-21.612,10.373-27.66s19.884-14.695,25.066-17.288,4.319-5.185,6.048,3.459-.861,18.147,6.915,14.693,6.915-4.321,8.641-11.236C694.286,380.607,690.914,360.631,693.132,346.943Z" transform="translate(278.351 203.076)" fill="#849055"/>
      <path id="パス_530" data-name="パス 530" d="M677.922,277.136c1.4-1.4,1.5-4.094,1.229-7.169-20.813-11.3-49.507-17.123-75.817-17.474-.533,6.967-2.432,11.895-6.735,16.194-5.183,5.183-15.554,4.321-14.691,12.965s.863,12.963,7.78,13.826,11.238-.861,10.373,5.187-6.915,14.7-6.915,24.2-6.05,19.016-8.645,28.523a103.507,103.507,0,0,1-5.22,14.135c10.262,2.519,20.52,7.28,30.782,5.228,0,6.168,9.252,6.168,6.17,12.337,9.1,1.817,19.273,2.843,29.574,4.163a38.206,38.206,0,0,0,4.353-16.5C647.077,338.825,650.16,304.9,677.922,277.136Z" transform="translate(267.589 137.7)" fill="#849055"/>
      <path id="パス_531" data-name="パス 531" d="M710.452,299.741c-.865-12.965-7.78-31.116-8.645-38.9a39.612,39.612,0,0,0-.828-4.605c-20.708,4.685-38.785,21.936-52.195,11.208-.6-.343-1.237-.669-1.856-1,.275,3.076.169,5.769-1.229,7.169-27.761,27.761-30.844,61.689-27.761,95.618a38.235,38.235,0,0,1-4.352,16.5c21.825,2.8,44.205,6.969,58.088,23.063.8-4.949,2.315-9.093,5.069-11.391,10.371-8.641,26.793-13.824,30.251-24.2s5.185-11.237,10.369-31.118-6.046-29.386-6.911-42.351" transform="translate(299.809 141.219)" fill="#849055"/>
      <path id="パス_532" data-name="パス 532" d="M710.452,299.741c-.865-12.965-7.78-31.116-8.645-38.9a39.612,39.612,0,0,0-.828-4.605c-20.708,4.685-38.785,21.936-52.195,11.208-.6-.343-1.237-.669-1.856-1,.275,3.076.169,5.769-1.229,7.169-27.761,27.761-30.844,61.689-27.761,95.618a38.235,38.235,0,0,1-4.352,16.5c21.825,2.8,44.205,6.969,58.088,23.063.8-4.949,2.315-9.093,5.069-11.391,10.371-8.641,26.793-13.824,30.251-24.2s5.185-11.237,10.369-31.118S711.317,312.707,710.452,299.741Z" transform="translate(299.809 141.219)" fill="#849055"/>
    </g>
    <g id="グループ_171" data-name="グループ 171" transform="translate(9119.08 -1543.858)">
      <path id="パス_465-2" data-name="パス 465" d="M719.37,309.284c-1.455-6.166-4.5-12.351-9.191-16.373-5.824-5-12.482-26.635-9.987-32.461s6.659-37.456,10.818-44.114c3.561-5.694,5-8.325-4.159-8.325s-11.649,5.824-19.143,1.664-8.323-4.162-10.822-8.323-10.823-7.492-15.815-5.826-5,4.993-2.5,10.82,5.828,8.325,4.164,14.149-9.156,11.653-4.164,13.316,12.485-.829,17.481-1.662,15.811-3.331,14.98,3.33,3.333,12.484-3.326,15.813-7.494,6.661-12.487,4.162-7.488-3.33-12.484-2.5-8.321,6.657-11.653,0-2.5-18.312-3.333-22.472-2.493-8.325-7.486-8.325-11.653-4.162-16.648-2.5-5.826,4.162-3.332,11.653-2.5,18.312-8.323,21.641-23.3,12.484-23.3,22.472,5.824,13.318,5.824,22.474c0,1.565-.069,3-.176,4.383,26.09.347,54.631,6.267,74.8,17.791,12.913,10.33,30.319-6.282,50.263-10.794" transform="translate(273.077 83.786)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_523-2" data-name="パス 523" d="M679.557,398.385c-3.277-6.558-4.93-16.321-3.384-19.791-11.328,1.651-19.669-10.779-32.287-8.256-11.88,2.971-17.823,5.94-14.853,20.792-11.88,2.971-11.88-2.971-20.792-8.911-2.415-4.831-12.689-1.8-19.636-5.3A113.075,113.075,0,0,1,572.6,391.13c0,2.971,0,11.882-5.942,14.852-8.911,0-23.763-8.911-23.763,0-2.362,14.161,4.616,30.19,1.642,45.124,16.949,6.1,29.934-1.692,42.913-9.479,17.824-5.942,29.7,17.821,35.643,26.732,10.034,14.043,26.833,5.063,44.005,1.4,3.068-3.361,5.843-6.894,7.464-11.447,4.166-11.653,7.49-20.808,7.49-34.96s.837-18.315-2.495-24.971" transform="translate(232.949 235.506)" fill="#d8ec8a" stroke="#fff" stroke-width="1"/>
      <path id="パス_524-2" data-name="パス 524" d="M679.557,398.385c-3.277-6.558-4.93-16.321-3.384-19.791-11.328,1.651-19.669-10.779-32.287-8.256-11.88,2.971-17.823,5.94-14.853,20.792-11.88,2.971-11.88-2.971-20.792-8.911-2.415-4.831-12.689-1.8-19.636-5.3A113.075,113.075,0,0,1,572.6,391.13c0,2.971,0,11.882-5.942,14.852-8.911,0-23.763-8.911-23.763,0-2.362,14.161,4.616,30.19,1.642,45.124,16.949,6.1,29.934-1.692,42.913-9.479,17.824-5.942,29.7,17.821,35.643,26.732,10.034,14.043,26.833,5.063,44.005,1.4,3.068-3.361,5.843-6.894,7.464-11.447,4.166-11.653,7.49-20.808,7.49-34.96S682.889,405.041,679.557,398.385Z" transform="translate(232.949 235.506)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_525-2" data-name="パス 525" d="M627.964,382.2c9.509-14.263,18.977-32.334,14.782-51.165-5.122-.655-10.106-1.367-14.782-2.3,2.967-5.94-5.944-5.94-5.944-11.882-9.882,1.978-19.761-2.609-29.643-5.033a109.431,109.431,0,0,1-8.289,15.518c-4.006,6.007-10.68,18.428-14.458,24.831a242.87,242.87,0,0,1,13.778,35.972c-20.794,2.969-20.794,20.792-17.821,35.645,5.94,8.909,20.792,2.969,23.759,8.909,8.913,5.94,8.913,11.882,20.794,8.911-1.907-9.543-.121-14.17,4.538-17.053-3.253-15.076,2.592-26.314,13.286-42.353" transform="translate(251.844 185.036)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_526-2" data-name="パス 526" d="M627.964,382.2c9.509-14.263,18.977-32.334,14.782-51.165-5.122-.655-10.106-1.367-14.782-2.3,2.967-5.94-5.944-5.94-5.944-11.882-9.882,1.978-19.761-2.609-29.643-5.033a109.431,109.431,0,0,1-8.289,15.518c-4.006,6.007-10.68,18.428-14.458,24.831a242.87,242.87,0,0,1,13.778,35.972c-20.794,2.969-20.794,20.792-17.821,35.645,5.94,8.909,20.792,2.969,23.759,8.909,8.913,5.94,8.913,11.882,20.794,8.911-1.907-9.543-.121-14.17,4.538-17.053C611.424,409.473,617.269,398.235,627.964,382.2Z" transform="translate(251.844 185.036)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_527-2" data-name="パス 527" d="M689.343,346.024c-16.308-18.909-44.792-20.734-69.635-23.92,4.194,18.831-5.274,36.9-14.782,51.167-10.695,16.039-16.54,27.277-13.286,42.353,2.6-1.6,6.067-2.678,10.315-3.739,12.618-2.523,20.96,9.907,32.287,8.254.024-.05.032-.134.054-.183,1.666-3.328,0-20.812,9.989-26.637s19.148-14.151,24.138-16.648,4.159-4.993,5.825,3.331-.829,17.475,6.659,14.149,6.659-4.161,8.321-10.82c1.227-4.891-2.02-24.127.116-37.309" transform="translate(274.882 193.961)" fill="#b2e340" stroke="#fff" stroke-width="1"/>
      <path id="パス_528-2" data-name="パス 528" d="M689.343,346.024c-16.308-18.909-44.792-20.734-69.635-23.92,4.194,18.831-5.274,36.9-14.782,51.167-10.695,16.039-16.54,27.277-13.286,42.353,2.6-1.6,6.067-2.678,10.315-3.739,12.618-2.523,20.96,9.907,32.287,8.254.024-.05.032-.134.054-.183,1.666-3.328,0-20.812,9.989-26.637s19.148-14.151,24.138-16.648,4.159-4.993,5.825,3.331-.829,17.475,6.659,14.149,6.659-4.161,8.321-10.82C690.454,378.442,687.206,359.206,689.343,346.024Z" transform="translate(274.882 193.961)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_530-2" data-name="パス 530" d="M674.271,276.224c1.346-1.35,1.447-3.942,1.184-6.9-20.043-10.88-47.675-16.489-73.012-16.827-.514,6.71-2.342,11.455-6.485,15.595-4.992,4.992-14.978,4.161-14.147,12.485s.831,12.484,7.492,13.315,10.822-.829,9.989,5-6.659,14.151-6.659,23.307-5.826,18.312-8.325,27.468a99.691,99.691,0,0,1-5.027,13.611c9.882,2.426,19.761,7.01,29.643,5.035,0,5.94,8.909,5.94,5.942,11.88,8.766,1.75,18.56,2.738,28.48,4.009a36.792,36.792,0,0,0,4.192-15.89C644.568,335.63,647.537,302.956,674.271,276.224Z" transform="translate(264.942 133.58)" fill="#d8ec8a" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
      <path id="パス_531-2" data-name="パス 531" d="M706.868,298.131c-.833-12.485-7.492-29.964-8.325-37.456a38.153,38.153,0,0,0-.8-4.435c-19.942,4.512-37.35,21.124-50.263,10.794-.579-.331-1.191-.644-1.787-.964.265,2.962.162,5.556-1.184,6.9-26.734,26.734-29.7,59.406-26.734,92.08a36.819,36.819,0,0,1-4.19,15.892c21.018,2.7,42.569,6.712,55.938,22.209.775-4.766,2.23-8.756,4.881-10.969,9.987-8.321,25.8-13.313,29.132-23.3s4.993-10.822,9.985-29.966-5.823-28.3-6.656-40.784" transform="translate(294.7 136.83)" fill="#b5c672" stroke="#fff" stroke-width="1"/>
      <path id="パス_532-2" data-name="パス 532" d="M706.868,298.131c-.833-12.485-7.492-29.964-8.325-37.456a38.153,38.153,0,0,0-.8-4.435c-19.942,4.512-37.35,21.124-50.263,10.794-.579-.331-1.191-.644-1.787-.964.265,2.962.162,5.556-1.184,6.9-26.734,26.734-29.7,59.406-26.734,92.08a36.819,36.819,0,0,1-4.19,15.892c21.018,2.7,42.569,6.712,55.938,22.209.775-4.766,2.23-8.756,4.881-10.969,9.987-8.321,25.8-13.313,29.132-23.3s4.993-10.822,9.985-29.966S707.7,310.617,706.868,298.131Z" transform="translate(294.7 136.83)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
    </g>
    <g id="bg" transform="translate(-750 15)">
      <g id="長方形_107" data-name="長方形 107" transform="translate(10771 -1205)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_108" data-name="長方形 108" transform="translate(10722 -1129)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_109" data-name="長方形 109" transform="translate(10798 -1114)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_110" data-name="長方形 110" transform="translate(10698 -1037)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_111" data-name="長方形 111" transform="translate(10758 -1015)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
      <g id="長方形_112" data-name="長方形 112" transform="translate(10689 -923)" fill="#fff" stroke="#677728" stroke-width="1">
        <rect width="54" height="30" rx="15" stroke="none"/>
        <rect x="0.5" y="0.5" width="53" height="29" rx="14.5" fill="none"/>
      </g>
    </g>
    <g id="text" transform="translate(-750 15)">
      <text id="青森" transform="translate(10783 -1184)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=青森県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">青森</a></tspan></text></tspan></text>
      <text id="秋田" transform="translate(10734 -1108)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=秋田県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">秋田</a></tspan></text></tspan></text>
      <text id="岩手" transform="translate(10810 -1093)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=岩手県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">岩手</a></tspan></text></tspan></text>
      <text id="山形" transform="translate(10710 -1016)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=山形県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">山形</a></tspan></text></tspan></text>
      <text id="宮城" transform="translate(10770 -995)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=宮城県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">宮城</a></tspan></text></tspan></text>
      <text id="福島" transform="translate(10700 -902)" font-size="15" font-family="NotoSansJP-Regular, Noto Sans JP"><tspan x="0" y="0"><a href="/search?utf8=✓&search=福島県" onmouseout="this.style.fill='#000'" onmouseover="this.style.fill='#849055'" style="fill: rgb(0,0,0);">福島</a></tspan></text></tspan></text>
    </g>
  </g>
</svg>
					

					<img class="contentsMap__piece01 item--pc" src="/assets/piece01.png" alt="駒1">
					<img class="contentsMap__piece02 item--pc" src="/assets/piece02.png" alt="駒2">
					

					<div class="contentsMap__list">

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">青森</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_aomori %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">秋田</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_akita %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">岩手</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_iwate %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">山形</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_yamagata %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">宮城</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_miyagi %>)</p>
						</a>

						<a class="contentsMap__item" href="#">
							<img class="contentsMap__item__arw" src="/assets/map_arw.svg" alt="">
							<h3 class="contentsMap__item__title">福島</h3>
							<p class="contentsMap__item__num">(<%= @number_of_stores_fukushima %>)</p>
						</a>

						
						
					</div>
				</div>
				

            <%= render 'shared/new_shop' %>

      </div>


      <div class="contentsAd"><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--sp" src="/assets/ad_img.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""><img class="contentsAd__item item--pc" src="/assets/ad_img_pc.png" alt=""></div>
      


            <%= render 'shared/pickup_shop' %>
		</div>

	</body>

</html>