<h2><%= link_to("メッセージ一覧", "/owner/member_list") %></h3>
<h3><%= link_to("登録店舗一覧", "/stores/index") %></h3>
<h3><%= link_to("店舗登録", "/stores/new") %></h3>
<h3><%= link_to("データ型確認", "/stores/confirm") %></h3>
<h3><%= link_to("詳細情報一覧", "/stores/show") %></h3>
<h2><%= link_to("Comments#Indexへ", "/comments/index") %></h3>
<h2><%= link_to("麻雀クラブ予定", "/reserve") %></h3>