<h1>posts/new</h1>

<div class="form-style-2">
  <div class="form-style-2-heading" style="color: blue;">店舗情報登録</div>
  <%= form_tag("/posts/create") do %>
  
  <form>
    <div style="color: red;">
      <% @item.errors.full_messages.each do |message| %>
      <%= message %><br>
      <% end %>
    </div>
    <label for="field1">
      <span>ID <span class="required"></span></span>
      <input type="text" class="input-field" name="userid" value="<%= @item.userid %>" />
    </label>
      
    <label for="field2">
      <span>パスワード <span class="required"></span></span>
      <input type="text" class="input-field" name="pass" value="<%= @item.pass %>" />
    </label>
      
    <label for="field2">
      <span>店舗名 <span class="required"></span></span>
      <input type="text" class="input-field" name="shopname" value="<%= @item.shopname %>" />
    </label>

    <label for="field2">
      <span>電話番号 <span class="required"></span></span>
      <textarea name="shoptel" class="textarea-field"><%= @item.shoptel %></textarea>
    </label>

    <label for="field2">
      <span>よみがな <span class="required"></span></span>
      <input type="text" class="input-field" name="yomi" value="<%= @item.yomi %>" />
    </label>

    <label for="field4">
      <span>都道府県<span class="required"></span></span>
      <select name="addres1" class="select-field" >
        <option value="<%= @item.addres1 %>"><%= @item.addres1 %></option>
        <option value="北海道道央">北海道道央</option>
        <option value="北海道道南">北海道道南</option>
        <option value="北海道道東">北海道道東</option>
        <option value="北海道道北">北海道道北</option>
        <option value="青森県">青森県</option>
        <option value="岩手県">岩手県</option>
        <option value="宮城県">宮城県</option>
        <option value="秋田県">秋田県</option>
        <option value="山形県">山形県</option>
        <option value="福島県">福島県</option>
        <option value="茨城県">茨城県</option>
        <option value="栃木県">栃木県</option>
        <option value="群馬県">群馬県</option>
        <option value="埼玉県">埼玉県</option>
        <option value="千葉県">千葉県</option>
        <option value="東京都">東京都</option>
        <option value="神奈川県">神奈川県</option>
        <option value="新潟県">新潟県</option>
        <option value="富山県">富山県</option>
        <option value="石川県">石川県</option>
        <option value="福井県">福井県</option>
        <option value="山梨県">山梨県</option>
        <option value="長野県">長野県</option>
        <option value="岐阜県">岐阜県</option>
        <option value="静岡県">静岡県</option>
        <option value="愛知県">愛知県</option>
        <option value="三重県">三重県</option>
        <option value="滋賀県">滋賀県</option>
        <option value="京都府">京都府</option>
        <option value="大阪府">大阪府</option>
        <option value="兵庫県">兵庫県</option>
        <option value="奈良県">奈良県</option>
        <option value="和歌山県">和歌山県</option>
        <option value="鳥取県">鳥取県</option>
        <option value="島根県">島根県</option>
        <option value="岡山県">岡山県</option>
        <option value="広島県">広島県</option>
        <option value="山口県">山口県</option>
        <option value="徳島県">徳島県</option>
        <option value="香川県">香川県</option>
        <option value="愛媛県">愛媛県</option>
        <option value="高知県">高知県</option>
        <option value="福岡県">福岡県</option>
        <option value="佐賀県">佐賀県</option>
        <option value="長崎県">長崎県</option>
        <option value="熊本県">熊本県</option>
        <option value="大分県">大分県</option>
        <option value="宮崎県">宮崎県</option>
        <option value="鹿児島県">鹿児島県</option>
        <option value="沖縄県">沖縄県</option>
      </select>
    </label>

    <label for="field2">
      <span>住所 <span class="required"></span></span>
      <textarea name="addres2" class="textarea-field"><%= @item.addres2 %></textarea>
    </label>

    <label for="field2">
      <span>登録地域 <span class="required"></span></span>
      <input type="text" class="input-field" name="area" value="<%= @item.area %>" />
    </label>
      
    <label for="field2">
      <span>有料会員 <span class="required"></span></span>
      <input type="text" class="input-field" name="paidmember" value="<%= @item.paidmember %>" />
    </label>

    <label for="field2">
      <span>メール <span class="required"></span></span>
      <input type="text" class="input-field" name="mail" value="<%= @item.mail %>" />
    </label>

    <label for="field2">
      <span>担当者名 <span class="required"></span></span>
      <input type="text" class="input-field" name="name" value="<%= @item.name %>" />
    </label>

    <label for="field2">
      <span>担当者電話番号 <span class="required"></span></span>
      <input type="text" class="input-field" name="tel" value="<%= @item.tel %>" />
    </label>
      
    <label for="field2">
      <span>最寄駅 <span class="required"></span></span>
      <textarea name="station" class="textarea-field"><%= @item.station %></textarea>
    </label>

    <label for="field2">
      <span>徒歩時間 <span class="required"></span></span>
      <textarea name="onfoot" class="textarea-field"><%= @item.onfoot %></textarea>
    </label>

    <label for="field2">
      <span>営業日 <span class="required"></span></span>
      <textarea name="businessday" class="textarea-field"><%= @item.businessday %></textarea>
    </label>

    <label for="field2">
      <span>営業時間1 <span class="required"></span></span>
      <textarea name="businesstime1" class="textarea-field"><%= @item.businesstime1 %></textarea>
    </label>

    <label for="field2">
      <span>営業時間2 <span class="required"></span></span>
      <textarea name="businesstime2" class="textarea-field"><%= @item.businesstime2 %></textarea>
    </label>

    <label for="field2">
      <span>料金 <span class="required"></span></span>
      <textarea name="pricelist" class="textarea-field"><%= @item.pricelist %></textarea>
    </label>

    <label for="field2">
      <span style="color: purple;">トップ写真 <span class="required"></span></span>
      <input type="text" class="input-field" name="topphoto" value="<%= @item.topphoto %>" />
    </label>

    <label for="field2">
      <span>年齢層 <span class="required"></span></span>
      <textarea name="agegroup" class="textarea-field"><%= @item.agegroup %></textarea>
    </label>

    <label for="field2">
      <span>事前予約 <span class="required"></span></span>
      <textarea name="reservation" class="textarea-field"><%= @item.reservation %></textarea>
    </label>
      
    <label for="field2">
      <span style="color: blue;">麻雀店 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon1" value="<%= @item.freeicon1 %>" />
    </label>

    <label for="field2">
      <span style="color: blue;">公共施設 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon2" value="<%= @item.freeicon2 %>" />
    </label>

    <label for="field2">
      <span style="color: blue;">商業施設内 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon3" value="<%= @item.freeicon3 %>" />
    </label>

    <label for="field2">
      <span style="color: blue;">サークル・個人 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon4" value="<%= @item.freeicon4 %>" />
    </label>

    <label for="field2">
      <span style="color: green;">健康麻雀 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon11" value="<%= @item.freeicon11 %>" />
    </label>

    <label for="field2">
      <span style="color: green;">ノーレートフリー <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon12" value="<%= @item.freeicon12 %>" />
    </label>

    <label for="field2">
      <span style="color: green;">麻雀教室 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon13" value="<%= @item.freeicon13 %>" />
    </label>

    <label for="field2">
      <span style="color: green;">競技麻雀 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon14" value="<%= @item.freeicon14 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">禁煙 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon21" value="<%= @item.freeicon21 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">喫煙 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon22" value="<%= @item.freeicon22 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">セット可 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon23" value="<%= @item.freeicon23 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">女性限定 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon24" value="<%= @item.freeicon24 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">要予約 <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon25" value="<%= @item.freeicon25 %>" />
    </label>

    <label for="field2">
      <span style="color: orange;">Mリーグルール <span class="required"></span></span>
      <input type="text" class="input-field" name="freeicon26" value="<%= @item.freeicon26 %>" />
    </label>

    <label for="field2">
      <span style="color: red;">おすすめ <span class="required"></span></span>
      <input type="text" class="input-field" name="paidicon1" value="<%= @item.paidicon1 %>" />
    </label>

    <label for="field2">
      <span style="color: red;">ピックアップ <span class="required"></span></span>
      <input type="text" class="input-field" name="paidicon2" value="<%= @item.paidicon2 %>" />
    </label>

    <label for="field2">
      <span>トップコメント <span class="required"></span></span>
      <textarea name="topcomment" class="textarea-field" style="height:150px;"><%= @item.topcomment %></textarea>
    </label>

    <label for="field2">
      <span>説明文 <span class="required"></span></span>
      <textarea name="comment" class="textarea-field" style="height:300px;"><%= @item.comment %></textarea>
    </label>

    <label for="field2">
      <span style="color: purple;">写真1 <span class="required"></span></span>
      <input type="text" class="input-field" name="photo1" value="<%= @item.photo1 %>" />
    </label>

    <label for="field2">
      <span style="color: purple;">写真2 <span class="required"></span></span>
      <input type="text" class="input-field" name="photo2" value="<%= @item.photo2 %>" />
    </label>

    <label for="field2">
      <span>卓数 <span class="required"></span></span>
      <textarea name="tablenum" class="textarea-field"><%= @item.tablenum %></textarea>
    </label>

    <label for="field2">
      <span>卓種 <span class="required"></span></span>
      <textarea name="tabletype" class="textarea-field"><%= @item.tabletype %></textarea>
    </label>

    <label for="field2">
      <span>サービス <span class="required"></span></span>
      <textarea name="service" class="textarea-field"><%= @item.service %></textarea>
    </label>

    <label for="field2">
      <span>システム <span class="required"></span></span>
      <textarea name="system" class="textarea-field"><%= @item.system %></textarea>
    </label>

    <label for="field2">
      <span>男女比率 <span class="required"></span></span>
      <textarea name="ratio" class="textarea-field"><%= @item.ratio %></textarea>
    </label>

    <label for="field2">
      <span>ルール <span class="required"></span></span>
      <textarea name="rule" class="textarea-field"><%= @item.rule %></textarea>
    </label>

    <label for="field2">
      <span>時間打切り <span class="required"></span></span>
      <textarea name="timeup" class="textarea-field"><%= @item.timeup %></textarea>
    </label>

    <label for="field2">
      <span>HP1(公式HP) <span class="required"></span></span>
      <input type="text" class="input-field" name="homepage1" value="<%= @item.homepage1 %>" />
    </label>

    <label for="field2">
      <span>HP2(雀サクッ) <span class="required"></span></span>
      <input type="text" class="input-field" name="homepage2" value="<%= @item.homepage2 %>" />
    </label>

    <label for="field2">
      <span>HP3(麻雀王国) <span class="required"></span></span>
      <input type="text" class="input-field" name="homepage3" value="<%= @item.homepage3 %>" />
    </label>

    <label for="field2">
      <span>HP4(SNS) <span class="required"></span></span>
      <textarea name="homepage4" class="textarea-field"><%= @item.homepage4 %></textarea>
    </label>

    <label for="field2">
      <span>オープン日 <span class="required"></span></span>
      <textarea name="opening" class="textarea-field"><%= @item.opening %></textarea>
    </label>

    <label>
      <span> </span>
      <input type="submit" name="" value="登録" />
    </label>

  </form>
  <% end %>
</div>