<!DOCTYPE html>
<html>






  <head>
    <title>KenmaSearchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>



    

<% if session[:id] %>



  <body>
        <header>
      <div class="header">
        <div class="header__inner"><a class="header__logo" href="/"><img src="/assets/header_logo.png" alt="けんま〜サーチ"></a><p class="header__txt">全国<span>の健康麻雀＆ノーレート検索</span></p>
          <div class="header__btn">
            <div id="nav-open"><span></span></div>
          </div>
          <div id="nav-list">
            <a class="nav__item" href="/"><img src="./assets/menu_icon01.svg" alt="">TOP</a>
            <a class="nav__item" href="#"><img src="./assets/menu_icon02.svg" alt="">新着店舗</a>
            <a class="nav__item" href="#"><img src="./assets/menu_icon03.svg" alt="">ピックアップ</a>
            <a class="nav__item" href="#"><img src="./assets/menu_icon04.svg" alt="">店舗ログイン</a>
            <a class="nav__item" href="#"><img src="./assets/menu_icon05.svg" alt="">広告掲載 </a>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="menu__inner">
          <div class="menu__list">
            <a class="menu__item" href="/"><img src="./assets/menu_icon01.svg" alt="">サイトTOP</a>
            <a class="menu__item" href="#"><img src="./assets/menu_icon02.svg" alt="">新着店舗</a>
            <a class="menu__item" href="#"><img src="./assets/menu_icon03.svg" alt="">ピックアップ</a>
            <a class="menu__item" href="#"><img src="./assets/menu_icon04.svg" alt="">店舗ログイン</a>
            <a class="menu__item" href="#"><img src="./assets/menu_icon05.svg" alt="">広告掲載 </a>
          </div>
        </div>
      </div>
    </header>

    


      <%= form_tag("/logout") do %>
      <%= submit_tag 'ログアウト' %>
      <% end %>
      <li>ログインユーザーid:<%= session[:id] %></li>
      <p style="font-size: 200%; color: blue;">kenmasearch制作中！！</p>
      <div><%= link_to("/shops/index", "/shops/index") %></div>
      <div><%= link_to("/shops/new", "/shops/new") %></div>
      <div><%= link_to("/list", "/list") %></div>
      <div><%= link_to("/chubu", "/chubu") %></div>
    
    
<% else %>
      <!-- ログインしていない場合の処理 -->
     
      <p style="font-size: 200%; color: blue;"></p>
  
    <% end %>

    

    <%= yield %>

    <footer class="footer">
      <div class="footer__inner">
        <a href="/"><img class="footer__logo" src="/assets/logo.png" alt="けんま〜サーチ"></a>
        <div class="footer__mapList"></div>
        <div class="footer__pageList">
          <a class="footer__pageItem" href="#">新着店舗</a>
          <a class="footer__pageItem" href="#">ピックアップ</a>
          <a class="footer__pageItem" href="#">店舗ログイン</a>
          <a class="footer__pageItem" href="#">広告掲載</a></div>
      </div>
    </footer>
    <div class="footer__copyright">Copyright© けんま〜サーチ All Rights Reserved.</div>
    <script src="./js/app.js"></script>

  </body>

 


    




</html>
