<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "全国の健康麻雀・ノーレートフリー麻雀を検索！|けんま～サーチ"%></title>
  <meta name="description" content="健康麻雀、ノーレートフリー麻雀が楽しめる店舗や施設、サークルを検索できるサイトです。Mリーグルールや三人麻雀など、様々な店舗を掲載しています。近くのお店を検索！">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
  <link href="<%= image_path("apple-touch-icon.png") %>" rel="apple-touch-icon" sizes="180x180" type="image/png" />
  <link href="<%= image_path("android-touch-icon.png") %>" rel="icon" sizes="192x192" type="image/png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- slick埋め込み1行css -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- slick埋め込み1行js -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <!-- コード追加　Bootstrap JavaScript読み込みコード-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- コード追加 slider-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').bxSlider({
        auto: true,
        pause: 5000,
      });
    });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-210295845-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-210295845-1');
</script>
</head>
<body class="top">
  <header>
    <div class="header">
      <div class="header__inner">
        <a class="header__logo" href="/"><img src="/assets/header_logo.png" alt="けんま〜サーチ"></a>
        <p class="header__txt">全国<span>の健康麻雀＆ノーレート検索</span></p>
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <a class="nav__item" href="/"><img src="/assets/menu_icon01.svg" alt="">TOP</a>
            <a class="nav__item" href="/search"><img src="/assets/menu_icon02.svg" alt="">検索</a>
            <a class="nav__item" href="/recruit"><img src="/assets/menu_icon03.svg" alt="">掲載店舗 募集中</a>
            <a class="nav__item" href="/adv"><img src="/assets/menu_icon05.svg" alt="">広告掲載 </a>
            <% if session[:user_id] %>
            <a class="nav__item" data-method="post" href="/user_logout" style="color: red;">
              <img src="/assets/menu_icon04.svg" alt="">店舗ログアウト</a>
            <% else %>
              <a class="nav__item" href="/user_login">
                <img src="/assets/menu_icon04.svg" alt="">店舗ログイン</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menu__inner">
        <div class="menu__list">
          <a class="menu__item" href="/"><img src="/assets/menu_icon01.svg" alt="">TOP</a>
          <a class="menu__item" href="/search"><img src="/assets/menu_icon02.svg" alt="">検索</a>
          <a class="menu__item" href="/recruit"><img src="/assets/menu_icon03.svg" alt="">掲載店舗 募集中</a>
          <a class="menu__item" href="/adv"><img src="/assets/menu_icon05.svg" alt="">広告掲載 </a>
          <% if session[:user_id] %>
          <a class="menu__item" data-method="post" href="/user_logout" style="color: red;">
            <img src="/assets/menu_icon04.svg" alt="">ログアウト</a>
          <% else %>
          <a class="menu__item" href="/user_login">
            <img src="/assets/menu_icon04.svg" alt="">店舗ログイン</a>
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <% if session[:id] %>
  <%= form_tag("/logout") do %>
  <%= submit_tag('管理者ログアウト', data: {confirm: "ログアウトしますか？"}) %>
  <% end %>
  <% else %>
  <% end %>

  <% if session[:id] %>
  <li>ログイン管理者id:<%= session[:id] %></li>
  <%= link_to("管理者メニュー", "/owner/index") %>
  <% else %>
  <% end %>

  <% if session[:user_id] %>
  <li>ログイン中</li>
  <a href="/user_home">会員ページへ</a>
  <% else %>
  <% end %>

  
<!-- ここから -->



  <div class="contentsKv"><p class="contentsKv__head item--sp">全国の健康麻雀＆ノーレート検索</p></div>
  <div class="contentsLayout--shop">
    
    <div class="contentsMain">
      <div class="search_input_breadcrumb">
        <div class="search_input_form"><%= form_tag("/search", :method => 'get') do %><dl class="search2"><dt><input type="text" name="search" value="" placeholder="キーワードを入力" /></dt><dd><button>検索</button></dd></dl><% end %></div>
        <div class="contentsBreadcrumb"><a href="/">TOP</a><span>&gt;</span><a href="/chubu"><%= @area %></a><span>&gt;</span><span><%= @prefecture %></span></div>
      </div>
      <div class="contentsNewPost--shop">
        <h1 class="contentsNewPost__head--shop"> 「 <%= @prefecture %> 」<span>の店舗一覧</span></h1>        
        

        <div class="contentsNewPost__inner">
          <% @shops.each do |shop| %>        
          <div class="contentsNewPost__item">
            <div style="text-align: right;"><% if session[:id] %><p style="margin-right: 10px; display: inline-block;"><%= link_to("編集", "/stores/#{shop.userid}/edit") %></p><p style="display: inline-block;"><%= link_to("削除", "/stores/#{shop.id}/destroy", {method:"detele", data: {confirm: "削除しますか？"}}) %></p><% else %><% end %></div>
            <div class="contents_updated_at"><span>更新</span><span><%= shop.updated_at.strftime('%Y/%m/%d') %></span></div>
            <div class="contentsNewPost__item__head" style="display:block;">
              <!-- おすすめ -->
              <% if shop.paidicon1 == true %><a class="contentsDetails__tag__osusume" style="white-space: nowrap; background-color: #FFD5EC;"><td>おすすめ</td></a><% else %><% end %>
              <!-- 場所 -->
              <% if shop.freeicon1 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap;"><td>麻雀店</td></a>
              <% elsif %>
              <% shop.freeicon2 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #CCFFFF;"><td>公共施設</td></a>
              <% elsif %>
              <% shop.freeicon3 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap;"><td>サークル・個人</td></a>
              <% else %>
              <a class="contentsDetails__tag" style="white-space: nowrap;"><td>その他の場所</td></a>
              <% end %>
              <!-- 麻雀の種類 -->
              <% if shop.freeicon14 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #FFCC33;"><td>競技麻雀</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon13 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap;"><td>麻雀教室</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon12 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #FFFF99;"><td>ノーレートフリー</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon11 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap;"><td>健康麻雀</td></a>
              <% else %>
              <% end %>
              <!-- その他情報 -->
              <% if shop.freeicon21 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #DDDDDD;"><td>禁煙</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon22 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #DDDDDD;"><td>喫煙可</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon23 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #DDDDDD;"><td>セット</td></a>
              <% else %>
              <% end %>
              <% if shop.freeicon25 == true %>
              <a class="contentsDetails__tag" style="white-space: nowrap; background-color: #DDDDDD;"><td>要予約</td></a>
              <% else %>
              <% end %>
              <h2><a class="contentsNewPost__item__title" href="/shops/<%= shop.userid %>"><%= shop.shopname %></a></h2>
            </div>            
            <div class="contentsNewPost__item__flex">
              <a class="contentsNewPost__item__img" href="/shops/<%= shop.userid %>"><% if shop.topphoto == "" %><img style="object-fit: contain; border-radius:5px; border:1px solid #d2cbc5;" src="/topphoto_images/default_user.png" alt=""><% elsif shop.topphoto == nil %><img style="object-fit: contain; border-radius:5px; border:1px solid #d2cbc5;" src="/topphoto_images/default_user.png" alt=""><% else %><img style="object-fit: contain; border-radius:5px;" src="/topphoto_images/<%= shop.topphoto %>" alt=""><% end %></a>
              <div class="contentsNewPost__item__desc"><p class="contentsNewPost__item__desc__arddres"><span><%= shop.addres1 %></span><%= shop.area %></p><p><%=safe_join(shop.topcomment.split("\n"),tag(:br))%></p></div>
            </div>
            <div class="contentsNewPost__item__btn__inner"><a class="contentsNewPost__item__btn" href="/shops/<%= shop.userid %>">店舗詳細はこちら</a></div>
          </div>
          <% end %>
          <% if @shops.size == 0 %><p style="padding: 10px;">検索結果がありませんでした</p><% end %>
          <%= paginate @shops %>
          

          
        </div>


          

          <div class="search_input_form"><%= form_tag("/search", :method => 'get') do %><dl class="search2"><dt><input type="text" name="search" value="" placeholder="キーワードを入力" /></dt><dd><button>検索</button></dd></dl><% end %></div>


      </div>


      <%= yield %>
    

    </div>
    <%= render 'shared/advertising' %>
    <div><%= render 'shared/pickup_select_shops' %></div>
  </div>



<!-- ここまで -->





  <footer class="footer">
    <div class="footer__inner">
      <a href="/"><img class="footer__logo" src="/assets/logo.png" alt="けんま〜サーチ"></a>
      <div class="footer__mapList"></div>
      <div class="footer__pageList">
        <a class="footer__pageItem" href="/search">検索</a>
        <a class="footer__pageItem" href="#">掲載店舗<br>募集中</a>
        <a class="footer__pageItem" href="/user_login">店舗ログイン</a>
        <a class="footer__pageItem" href="/adv">広告掲載</a>
      </div>
    </div>
  </footer>
  <div class="footer__copyright">Copyright© けんま〜サーチ All Rights Reserved.</div>
  <script src="/js/app.js"></script>

</body>
</html>